Repository LLNL/axom, pull requests merged in 2019-05, with the labels that each got.

#11 Added azure builds and tests for basic linux configuration.
  azure-pipelines.yml
  scripts/azure-pipelines/linux-build_and_test.sh
Labels: CI

#13 Task/add osx ci tests
  README.md
  azure-pipelines.yml
  scripts/azure-pipelines/linux-build_and_test.sh
Labels: CI

#4 Feature/corbett/umpire sidre GitHub
  src/axom/core/Array.hpp
  src/axom/core/Macros.hpp
  src/axom/core/StackArray.hpp
  src/axom/core/Types.cpp
  src/axom/core/memory_management.hpp
  src/axom/core/numerics/LU.hpp
  src/axom/core/numerics/Matrix.hpp
  src/axom/core/tests/core_array.cpp
  src/axom/core/tests/core_memory_management.cpp
  src/axom/core/tests/core_stack_array.cpp
  src/axom/mint/tests/mint_execution_forall_traversals.cpp
  src/axom/mint/tests/mint_execution_node_traversals.cpp
  src/axom/mint/tests/mint_mesh_unstructured_mesh.cpp
  src/axom/primal/geometry/Plane.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/Array.hpp
  src/axom/sidre/core/Buffer.cpp
  src/axom/sidre/core/Buffer.hpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/tests/sidre_buffer.cpp
  src/axom/sidre/tests/sidre_buffer_unit.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_opaque.cpp
  src/axom/sidre/tests/sidre_view.cpp
  src/thirdparty/CMakeLists.txt
  src/thirdparty/tests/raja_smoke.cpp
Labels: App Integration, Sidre, TPL

#24 Slic User Guide
  src/axom/mainpage.md
  src/axom/slic/CMakeLists.txt
  src/axom/slic/README.md
  src/axom/slic/docs/sphinx/CMakeLists.txt
  src/axom/slic/docs/sphinx/figures/architecture.png
  src/axom/slic/docs/sphinx/index.rst
  src/axom/slic/docs/sphinx/sections/appendix.rst
  src/axom/slic/docs/sphinx/sections/architecture.rst
  src/axom/slic/docs/sphinx/sections/citations.rst
  src/axom/slic/docs/sphinx/sections/getting_started.rst
  src/axom/slic/docs/sphinx/sections/synopsis.rst
  src/axom/slic/docs/sphinx/sections/wrapping_slic_in_macros.rst
  src/axom/slic/examples/basic/logging.cpp
  src/conf.py
Labels: Documentation, Slic

#5 Mint User Guide
  src/axom/core/numerics/Matrix.hpp
  src/axom/mainpage.md
  src/axom/mint/README.md
  src/axom/mint/docs/sphinx/figures/BlockDecomposition.png
  src/axom/mint/docs/sphinx/figures/DomainDecomposition.png
  src/axom/mint/docs/sphinx/figures/MixedCellTypeMesh.png
  src/axom/mint/docs/sphinx/figures/SampleDomain.png
  src/axom/mint/docs/sphinx/figures/SampleMesh.png
  src/axom/mint/docs/sphinx/figures/SingleCellTypeMesh.png
  src/axom/mint/docs/sphinx/figures/cell_faces.png
  src/axom/mint/docs/sphinx/figures/class_diagram.png
  src/axom/mint/docs/sphinx/figures/decomp.png
  src/axom/mint/docs/sphinx/figures/execmodel.png
  src/axom/mint/docs/sphinx/figures/f17.png
  src/axom/mint/docs/sphinx/figures/face_orientation.png
  src/axom/mint/docs/sphinx/figures/hex.png
  src/axom/mint/docs/sphinx/figures/hex27.png
  src/axom/mint/docs/sphinx/figures/intro_mesh.png
  src/axom/mint/docs/sphinx/figures/linear_cell_types.png
  src/axom/mint/docs/sphinx/figures/mesh_geometry.png
  src/axom/mint/docs/sphinx/figures/mesh_representation.png
  src/axom/mint/docs/sphinx/figures/meshed_domain.png
  src/axom/mint/docs/sphinx/figures/meshtypes.png
  src/axom/mint/docs/sphinx/figures/particles.png
  src/axom/mint/docs/sphinx/figures/prism.png
  src/axom/mint/docs/sphinx/figures/pyramid.png
  src/axom/mint/docs/sphinx/figures/q2_cell_types.png
  src/axom/mint/docs/sphinx/figures/quad.png
  src/axom/mint/docs/sphinx/figures/quad9.png
  src/axom/mint/docs/sphinx/figures/sample_unstructured_mesh.png
  src/axom/mint/docs/sphinx/figures/sample_unstructured_mesh_mixed.png
  src/axom/mint/docs/sphinx/figures/structured_curvilinear_mesh.png
  src/axom/mint/docs/sphinx/figures/structured_rectilinear_mesh.png
  src/axom/mint/docs/sphinx/figures/structured_uniform_mesh.png
  src/axom/mint/docs/sphinx/figures/tet.png
  src/axom/mint/docs/sphinx/figures/topological_structure.png
  src/axom/mint/docs/sphinx/figures/triangle.png
  src/axom/mint/docs/sphinx/figures/unstructured_mixed.png
  src/axom/mint/docs/sphinx/figures/unstructured_mixed_bl.png
  src/axom/mint/docs/sphinx/figures/unstructured_mixed_mesh.png
  src/axom/mint/docs/sphinx/index.rst
  src/axom/mint/docs/sphinx/sections/appendix.rst
  src/axom/mint/docs/sphinx/sections/architecture.rst
  src/axom/mint/docs/sphinx/sections/citations.rst
  src/axom/mint/docs/sphinx/sections/examples.rst
  src/axom/mint/docs/sphinx/sections/execution_model.rst
  src/axom/mint/docs/sphinx/sections/faq.rst
  src/axom/mint/docs/sphinx/sections/fem.rst
  src/axom/mint/docs/sphinx/sections/getting_started.rst
  src/axom/mint/docs/sphinx/sections/mesh_representation.rst
  src/axom/mint/docs/sphinx/sections/mesh_types.rst
  src/axom/mint/docs/sphinx/sections/preliminary_concepts.rst
  src/axom/mint/docs/sphinx/sections/raw_sidre_data.txt
  src/axom/mint/docs/sphinx/sections/synopsis.rst
  src/axom/mint/docs/sphinx/sections/tutorial.rst
  src/axom/mint/examples/CMakeLists.txt
  src/axom/mint/examples/mint_tutorial.cpp
  src/axom/mint/examples/mint_uniform_mesh.cpp
Labels: Documentation, Mint

#32 fix broken links in slic docs
  src/axom/slic/docs/sphinx/sections/architecture.rst
Labels: Documentation, Slic

#34 remove bad fmt include
  src/thirdparty/CMakeLists.txt
Labels: Build system

#35 BUGFIX: fix sphinx doc latex/pdf failures
  src/axom/mint/docs/sphinx/sections/fem.rst
Labels: Documentation, bug

#40 fix unused variable compiler warnings
  src/axom/primal/examples/primal_introduction.cpp
  src/axom/sidre/spio/IOManager.cpp
Labels: Primal, Sidre

#44 Fix enum values in slic
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/sidre/interface/c_fortran/wrapfsidre.F
  src/axom/sidre/interface/sidre_shroud.yaml
  src/axom/sidre/interface/yaml/sidre_types.yaml
  src/axom/sidre/spio/interface/c_fortran/wrapfspio.f
  src/axom/sidre/spio/interface/spio_shroud.yaml
  src/axom/sidre/spio/interface/yaml/spio_types.yaml
  src/axom/slic/interface/c_fortran/wrapSLIC.h
  src/axom/slic/interface/c_fortran/wrapfslic.f
  src/axom/slic/interface/slic_shroud.yaml
Labels: Shroud, Slic

#39 Expand Mint Getting Started Example
  src/axom/mint/docs/sphinx/figures/intro_mesh.png
  src/axom/mint/docs/sphinx/figures/intro_mesh_unstructured.png
  src/axom/mint/docs/sphinx/sections/appendix.rst
  src/axom/mint/docs/sphinx/sections/architecture.rst
  src/axom/mint/docs/sphinx/sections/citations.rst
  src/axom/mint/docs/sphinx/sections/getting_started.rst
  src/axom/mint/docs/sphinx/sections/tutorial.rst
  src/axom/mint/examples/CMakeLists.txt
  src/axom/mint/examples/mint_uniform_mesh.cpp
  src/axom/mint/examples/user_guide/mint_getting_started.cpp
  src/axom/mint/examples/user_guide/mint_tutorial.cpp
Labels: Documentation, Mint

#48 Some updates for uberenv TPL setup on macos
  scripts/uberenv/packages/raja/package.py
  scripts/uberenv/packages/umpire/package.py
  scripts/uberenv/spack_configs/darwin/compilers.yaml
Labels: Build system, TPL, bug

#49 Adds openmp variant to Axom's local umpire spack package
  scripts/uberenv/packages/uberenv-axom/package.py
  scripts/uberenv/packages/umpire/package.py
Labels: Build system, TPL
