Repository LLNL/axom, pull requests merged in 2019-12, with the labels that each got.

#128 Host doxygen on ReadtheDocs
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  src/axom/lumberjack/README.md
  src/axom/mainpage.md
  src/axom/mint/README.md
  src/axom/mint/docs/sphinx/index.rst
  src/axom/mint/docs/sphinx/sections/citations.rst
  src/axom/mint/docs/sphinx/sections/synopsis.rst
  src/axom/primal/README.md
  src/axom/primal/docs/sphinx/index.rst
  src/axom/quest/README.md
  src/axom/sidre/README.md
  src/axom/slam/README.md
  src/axom/slam/docs/sphinx/index.rst
  src/axom/slic/README.md
  src/axom/slic/docs/sphinx/index.rst
  src/axom/slic/docs/sphinx/sections/citations.rst
  src/axom/slic/docs/sphinx/sections/synopsis.rst
  src/axom/spin/README.md
  src/conf.py
  src/docs/doxygen/CMakeLists.txt
  src/docs/doxygen/Doxyfile.in
  src/docs/sphinx/coding_guide/references.rst
  src/docs/sphinx/coding_guide/sec07_documentation.rst
  src/docs/sphinx/dev_guide/component_org.rst
  src/docs/sphinx/dev_guide/index.rst
  src/docs/sphinx/dev_guide/pull_requests.rst
  src/docs/sphinx/dev_guide/release.rst
  src/docs/sphinx/quickstart_guide/config_build.rst
  src/index.rst
Labels: Documentation

#124 Adds CLI11 options parser as a new built-in TPL
  README.md
  RELEASE-NOTES.md
  src/axom/config.hpp.in
  src/axom/core/tests/utils_config.cpp
  src/axom/core/utilities/About.cpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/containment_driver.cpp
  src/cmake/AxomConfig.cmake
  src/docs/doxygen/Doxyfile.in
  src/docs/sphinx/quickstart_guide/the_code.rst
  src/examples/using-with-cmake/FindAxom.cmake
  src/thirdparty/CLI11/CLI11.hpp
  src/thirdparty/CMakeLists.txt
  src/thirdparty/tests/CMakeLists.txt
  src/thirdparty/tests/cli11_smoke.cpp
  src/tools/CMakeLists.txt
  src/tools/convert_sidre_protocol.cpp
  src/tools/mesh_tester.cpp
Labels: TPL

#119 Consolidate Execution Policies
  RELEASE-NOTES.md
  host-configs/rzgenie-toss_3_x86_64_ib-clang@6.0.0.cmake
  src/axom/core/CMakeLists.txt
  src/axom/core/execution/execution_space.hpp
  src/axom/core/execution/for_all.hpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
  src/axom/core/execution/synchronize.hpp
  src/axom/core/numerics/jacobi_eigensolve.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_execution_for_all.cpp
  src/axom/core/tests/core_execution_space.cpp
  src/axom/mint/CMakeLists.txt
  src/axom/mint/docs/sphinx/sections/execution_model.rst
  src/axom/mint/examples/mint_curvilinear_mesh.cpp
  src/axom/mint/examples/user_guide/mint_getting_started.cpp
  src/axom/mint/examples/user_guide/mint_tutorial.cpp
  src/axom/mint/execution/interface.hpp
  src/axom/mint/execution/internal/for_all_cells.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/execution/internal/for_all_nodes.hpp
  src/axom/mint/execution/internal/structured_exec.hpp
  src/axom/mint/execution/policy.hpp
  src/axom/mint/tests/CMakeLists.txt
  src/axom/mint/tests/mint_execution_cell_traversals.cpp
  src/axom/mint/tests/mint_execution_face_traversals.cpp
  src/axom/mint/tests/mint_execution_forall_traversals.cpp
  src/axom/mint/tests/mint_execution_node_traversals.cpp
  src/axom/mint/tests/mint_execution_policy.cpp
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/sidre/examples/sidre_stressgroups.cpp
  src/axom/sidre/examples/spio/IOWrite.cpp
  src/axom/slam/BitSet.hpp
  src/axom/slam/FieldRegistry.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/Set.hpp
  src/axom/slam/StaticRelation.hpp
  src/axom/slam/Utilities.hpp
  src/axom/slam/examples/UnstructMeshField.cpp
  src/axom/slam/examples/UserDocs.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh.hpp
  src/axom/slam/examples/tinyHydro/CMakeLists.txt
  src/axom/slam/examples/tinyHydro/PolygonMeshXY.cpp
  src/axom/slam/examples/tinyHydro/tests/slam_tinyHydro_sedovTwoPart.cpp
  src/axom/slam/examples/tinyHydro/tests/slam_tinyHydro_sod1DTwoPart.cpp
  src/axom/slam/examples/tinyHydro/tests/slam_tinyHydro_unitTests.cpp
  src/axom/slam/policies/SizePolicies.hpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/CMakeLists.txt
  src/axom/spin/RectangularLattice.hpp
  src/axom/spin/execution_space.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/emit_bvh.hpp
  src/axom/spin/tests/CMakeLists.txt
  src/axom/spin/tests/spin_bvh.cpp
  src/axom/spin/tests/spin_execution_space.cpp
  src/tools/convert_sidre_protocol.cpp
Labels: Core, Mint, Spin

#133 Avoid GPU page faults in BVH::find()
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/emit_bvh.hpp
Labels: Spin

#139 Fixes some open issues
  .gitignore
  src/cmake/AxomConfig.cmake
Labels: Build system
