Repository LLNL/axom, pull requests merged in 2019-09, with the labels that each got.

#89 Add option to Enable/Disable CUB when building with CUDA
  RELEASE-NOTES.md
  src/axom/config.hpp.in
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/cmake/AxomOptions.cmake
Labels: Build system, Spin

#91 Fixes slam warnings on the intel compiler
  RELEASE
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/examples/HandleMesh.cpp
Labels: Slam, bug

#94 Updates bgq host-configs after conduit upgrade
  host-configs/rzuseqlac-bgqos_0-clang@4.0.0_gfortran.cmake
  host-configs/rzuseqlac-bgqos_0-clang@4.0.0_xlf.cmake
Labels: Build system, TPL

#93 Fix failing Mint test with intel18 release build
  src/axom/core/numerics/Matrix.hpp
  src/axom/mint/tests/mint_fem_single_fe.cpp
Labels: Mint, Testing

#106 Don't change a group's name when loading.
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/examples/sidre_createdatastore.cpp
  src/axom/sidre/tests/sidre_group.cpp
Labels: Sidre
