Repository LLNL/axom, pull requests merged in 2020-10, with the labels that each got.

#360 Added std::initializer_list constructors to primal primitives
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/SchemaCreator.hpp
  src/axom/inlet/tests/inlet_LuaReader.cpp
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/tests/primal_numeric_array.cpp
  src/axom/primal/tests/primal_point.cpp
  src/axom/primal/tests/primal_vector.cpp
  src/axom/sidre/core/DataStore.cpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: Primal

#364 Add experimental support for user-defined types in Inlet
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/Field.cpp
  src/axom/inlet/Field.hpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/Proxy.cpp
  src/axom/inlet/Proxy.hpp
  src/axom/inlet/SchemaCreator.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/examples/CMakeLists.txt
  src/axom/inlet/examples/arrays.cpp
  src/axom/inlet/examples/documentation_generation.cpp
  src/axom/inlet/examples/user_defined_type.cpp
  src/axom/inlet/examples/verification.cpp
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/inlet/tests/inlet_Inlet.cpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet

#366 Adds batched option to quest's InOutOctree containment example
  RELEASE-NOTES.md
  src/axom/primal/tests/primal_numeric_array.cpp
  src/axom/primal/tests/primal_point.cpp
  src/axom/primal/tests/primal_vector.cpp
  src/axom/quest/examples/containment_driver.cpp
Labels: Quest, User Request, enhancement

#375 simplify the packages.yaml mpi buildable logic
  scripts/uberenv/spack_configs/blueos_3_ppc64le_ib/devtools/packages.yaml
  scripts/uberenv/spack_configs/blueos_3_ppc64le_ib/packages.yaml
  scripts/uberenv/spack_configs/blueos_3_ppc64le_ib_p9/devtools/packages.yaml
  scripts/uberenv/spack_configs/blueos_3_ppc64le_ib_p9/packages.yaml
  scripts/uberenv/spack_configs/docker/packages.yaml
  scripts/uberenv/spack_configs/toss_3_x86_64_ib/devtools/packages.yaml
  scripts/uberenv/spack_configs/toss_3_x86_64_ib/packages.yaml
Labels: Build system, TPL
