Repository LLNL/axom, pull requests merged in 2020-07, with the labels that each got.

#285 Feature/white238/rtdmainpage
  src/axom/inlet/docs/sphinx/index.rst
  src/docs/sphinx/coding_guide/index.rst
  src/index.rst
Labels: Documentation

#289 Fix feature list and dependencies for package axom.
  scripts/uberenv/vcpkg_ports/axom/CONTROL
Labels: TPL, Windows, bug

#294 Fix test failures in non-HDF5 builds
  src/axom/sidre/examples/sidre_array.cpp
  src/axom/sidre/examples/sidre_createdatastore.cpp
  src/axom/sidre/examples/sidre_external_array.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/spio/F_spio_basicWriteRead.F
  src/axom/sidre/tests/spio/F_spio_externalWriteRead.F
  src/axom/sidre/tests/spio/F_spio_irregularWriteRead.F
  src/axom/sidre/tests/spio/F_spio_parallelWriteRead.F
  src/axom/sidre/tests/spio/F_spio_preserveWriteRead.F
  src/axom/sidre/tests/spio/spio_parallel.cpp
Labels: Sidre, Spio, bug

#290 Enable documentation-generation for the input deck
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/DocWriter.hpp
  src/axom/inlet/Inlet.cpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/SphinxDocWriter.cpp
  src/axom/inlet/SphinxDocWriter.hpp
  src/axom/inlet/examples/CMakeLists.txt
  src/axom/inlet/examples/document_generation.cpp
  src/axom/inlet/examples/example1.lua
  src/axom/inlet/examples/example1_expected_command_line_output
  src/axom/inlet/examples/example1_expected_documentation.rst
  src/axom/inlet/tests/inlet_Inlet.cpp
Labels: Inlet

#299 Change name of master branch to main.
  scripts/gitsetup/setup-git-aliases.sh
  scripts/uberenv/packages/axom/package.py
  scripts/uberenv/packages/raja/package.py
  scripts/uberenv/packages/umpire/package.py
  src/axom/mint/docs/sphinx/sections/citations.rst
  src/axom/mint/docs/sphinx/sections/synopsis.rst
  src/cmake/AxomVersion.cmake
  src/conf.py
  src/docs/sphinx/dev_guide/dev_summary.rst
  src/docs/sphinx/dev_guide/gitflow_branching.rst
  src/docs/sphinx/dev_guide/github.rst
  src/docs/sphinx/dev_guide/pull_requests.rst
  src/docs/sphinx/dev_guide/release.rst
  src/docs/sphinx/dev_guide/semantic_versioning.rst
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: Software process, maintenance

#308 Add default values, ranges, valid values, and a verify function for the input deck
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/Field.cpp
  src/axom/inlet/Field.hpp
  src/axom/inlet/Inlet.cpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/SphinxDocWriter.cpp
  src/axom/inlet/SphinxDocWriter.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/examples/document_generation.cpp
  src/axom/inlet/examples/example1_expected_command_line_output
  src/axom/inlet/examples/example1_expected_documentation.rst
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/inlet/tests/inlet_Inlet.cpp
Labels: Inlet

#315 Fix Parallel BVH construction on GPUs due to incoherent L1 cache
  RELEASE-NOTES.md
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
Labels: GPU, Spin, bug, cuda

#316 Print Axom version in the mesh_tester executable
  src/axom/core/tests/utils_about.cpp
  src/axom/core/utilities/About.cpp
  src/axom/core/utilities/About.hpp
  src/tools/mesh_tester.cpp
Labels: Core, enhancement
