Repository LLNL/axom, pull requests merged in 2020-03, with the labels that each got.

#182 Updates macOS host image on Azure from High Sierra to Mojave
  azure-pipelines.yml
Labels: CI

#180 Don't use gcc's non-standandard abi::__cxa_demangle with clang's libc++
  src/axom/slic/internal/stacktrace.cpp
Labels: Build system, CI, Slic

#156 RAJA implementation of naive triangle intersection algorithm
  src/axom/core/Macros.hpp
  src/axom/core/numerics/Determinants.hpp
  src/axom/core/numerics/Matrix.hpp
  src/axom/core/numerics/matvecops.hpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/sidre/examples/lulesh2/CMakeLists.txt
  src/axom/slic/interface/slic_macros.hpp
  src/axom/slic/tests/slic_macros.cpp
  src/tools/CMakeLists.txt
  src/tools/mesh_tester.cpp
Labels: Core, GPU, Primal, Slic

#150 Feature/capps2/win32sidre
  RELEASE-NOTES.md
  config-build.py
  host-configs/other/sqa-uno-MSVC-INTEL.cmake
  scripts/uberenv/uberenv.py
  scripts/uberenv/vcpkg_ports/axom/CONTROL
  scripts/uberenv/vcpkg_ports/axom/portfile.cmake
  scripts/uberenv/vcpkg_ports/blt/CONTROL
  scripts/uberenv/vcpkg_ports/blt/portfile.cmake
  scripts/uberenv/vcpkg_ports/conduit/CONTROL
  scripts/uberenv/vcpkg_ports/conduit/portfile.cmake
  scripts/uberenv/vcpkg_ports/hdf5/xCONTROL
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/AttrValues.hpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/tests/CMakeLists.txt
  src/cmake/thirdparty/FindConduit.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: Build system, TPL

#186 Fix minor warnings on windows
  src/axom/core/Array.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/numerics/eigen_solve.hpp
  src/axom/core/tests/core_array.cpp
  src/axom/core/tests/core_stack_array.cpp
  src/axom/core/tests/utils_utilities.cpp
  src/axom/core/utilities/Utilities.hpp
  src/axom/mint/examples/mint_heat_equation.cpp
  src/axom/mint/examples/mint_unstructured_mixed_topology_mesh.cpp
  src/axom/mint/examples/mint_unstructured_single_topology_mesh.cpp
  src/axom/mint/execution/internal/for_all_cells.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/mesh/internal/MeshHelpers.cpp
  src/axom/mint/tests/mint_fem_shape_functions.cpp
  src/axom/mint/tests/mint_mesh_connectivity_array.cpp
  src/axom/mint/tests/mint_mesh_face_relation.cpp
  src/axom/mint/tests/mint_mesh_field_variable.cpp
  src/axom/mint/tests/mint_mesh_unstructured_mesh.cpp
  src/axom/mint/tests/mint_test_utilities.hpp
  src/axom/primal/examples/primal_introduction.cpp
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/OrientedBoundingBox.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/tests/primal_bezier_intersect.cpp
  src/axom/primal/tests/primal_point.cpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/MeshTester.cpp
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/examples/quest_inout_interface.cpp
  src/axom/quest/stl/STLReader.cpp
  src/axom/quest/tests/quest_all_nearest_neighbors.cpp
  src/axom/quest/tests/quest_inout_interface.cpp
  src/axom/quest/tests/quest_test_utilities.hpp
  src/axom/slam/DynamicSet.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/examples/ShockTube.cpp
  src/axom/slam/examples/UserDocs.cpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slic/core/LogStream.cpp
  src/axom/slic/core/Logger.cpp
  src/axom/slic/interface/slic_macros.hpp
  src/axom/spin/BVHTree.hpp
  src/axom/spin/Brood.hpp
  src/axom/spin/DenseOctreeLevel.hpp
  src/axom/spin/SparseOctreeLevel.hpp
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/examples/spin_introduction.cpp
  src/axom/spin/tests/spin_octree.cpp
  src/tools/mesh_tester.cpp
Labels: maintenance

#177 Initial Support for Ray Queries using the BVH
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/memory_management.hpp
  src/axom/core/numerics/floating_point_limits.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_execution_space.cpp
  src/axom/core/tests/core_memory_management.cpp
  src/axom/core/tests/numerics_floating_point_limits.cpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/detail/intersect_ray_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_ray_intersect.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/BVH_impl.hpp
  src/axom/spin/internal/linear_bvh/QueryAccessor.hpp
  src/axom/spin/internal/linear_bvh/TraversalPredicates.hpp
  src/axom/spin/tests/spin_bvh.cpp
Labels: GPU, Primal, Spin

#192 Fix CMake example
  src/examples/using-with-cmake/FindAxom.cmake
Labels: Build system, bug

#193 Simple Sidre Examples
  src/axom/sidre/examples/CMakeLists.txt
  src/axom/sidre/examples/sidre_array.cpp
  src/axom/sidre/examples/sidre_external_array.cpp
Labels: Sidre, User Request

#199 Add comments to external array sidre example
  src/axom/sidre/examples/sidre_array.cpp
  src/axom/sidre/examples/sidre_external_array.cpp
Labels: Documentation, Sidre

#200 Fix Sidre Array examples
  src/axom/sidre/examples/sidre_array.cpp
  src/axom/sidre/examples/sidre_external_array.cpp
Labels: Sidre, bug

#208 Add MPI barriers and some documentation clarification in IOManager
  src/axom/sidre/examples/sidre_array.cpp
  src/axom/sidre/examples/sidre_external_array.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
Labels: Sidre, Spio, Testing, bug, mpi
