Repository LLNL/axom, pull requests merged in 2020-08, with the labels that each got.

#301 add unit test that creates and tests a simple sidre db written to file
  src/axom/sidre/tests/sidre_native_layout.cpp
  src/axom/sidre/tests/spio/spio_parallel.cpp
Labels: Sidre, Testing

#323 Updates to quest's signed distance example
  RELEASE-NOTES.md
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_signed_distance_interface.F
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/quest/interface/CMakeLists.txt
  src/axom/quest/interface/c_fortran/wrapQUEST.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.h
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/python/pyQUESTmodule.cpp
  src/axom/quest/interface/python/pyQUESTutil.cpp
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/interface/signed_distance.hpp
  src/axom/quest/interface/yaml/quest_types.yaml
  src/axom/quest/tests/quest_signed_distance.cpp
Labels: Quest, enhancement

#249 Triangle Intersection Algorithm using BVH
  RELEASE-NOTES.md
  src/axom/core/Macros.hpp
  src/axom/core/execution/execution_space.hpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
  src/axom/core/tests/core_execution_space.cpp
  src/axom/primal/examples/CMakeLists.txt
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/compute_bounding_box.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/quest/MeshTester.cpp
  src/axom/quest/MeshTester.hpp
  src/tools/mesh_tester.cpp
Labels: GPU, Quest, enhancement

#328 Link hdf5 when using Sidre with Mint
  src/axom/mint/CMakeLists.txt
Labels: App Integration, Build system, Mint, bug

#273 Fixes a 2D triangle intersection case
  RELEASE-NOTES.md
  src/axom/primal/operators/detail/intersect_impl.cpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_intersect.cpp
Labels: Primal, Testing, bug

#298 Bugfix for 64 bit indexing in slam, spin and quest
  RELEASE-NOTES.md
  azure-pipelines.yml
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/MapBase.hpp
  src/axom/slam/SubMap.hpp
  src/axom/slam/examples/ShockTube.cpp
  src/axom/slam/examples/UnstructMeshField.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh-init.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh-util.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh.hpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/OctreeBase.hpp
  src/axom/spin/OctreeLevel.hpp
  src/axom/spin/SparseOctreeLevel.hpp
  src/axom/spin/SpatialOctree.hpp
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/tests/spin_spatial_octree.cpp
Labels: Quest, Slam, Spin, bug

#329 Feature/capps2/document core
  src/axom/core/CMakeLists.txt
  src/axom/core/docs/sphinx/core_containers.rst
  src/axom/core/docs/sphinx/core_numerics.rst
  src/axom/core/docs/sphinx/core_utilities.rst
  src/axom/core/docs/sphinx/index.rst
  src/axom/core/examples/CMakeLists.txt
  src/axom/core/examples/core_containers.cpp
  src/axom/core/examples/core_numerics.cpp
  src/axom/core/examples/core_utilities.cpp
  src/axom/core/numerics/internal/matrix_norms.hpp
  src/index.rst
Labels: Core, Documentation
