Repository LLNL/axom, pull requests merged in 2020-01, with the labels that each got.

#140 Consistently adds pathNames to Sidre's logging messages
  host-configs/rzgenie-toss_3_x86_64_ib-clang@4.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@6.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@6.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@7.3.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.0.cmake
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/Buffer.hpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/MapCollection.hpp
  src/axom/sidre/core/SidreDataTypeIds.h
  src/axom/sidre/core/SidreTypes.hpp
  src/axom/sidre/core/SidreUtilities.hpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/examples/CMakeLists.txt
  src/axom/sidre/examples/cycle.h
  src/axom/sidre/examples/lulesh2/CMakeLists.txt
  src/axom/sidre/examples/spio/CMakeLists.txt
  src/axom/sidre/interface/CMakeLists.txt
  src/axom/sidre/spio/IOBaton.hpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/sidre/spio/interface/CMakeLists.txt
  src/axom/sidre/tests/CMakeLists.txt
  src/axom/sidre/tests/sidre_buffer.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
  src/axom/sidre/tests/spio/CMakeLists.txt
Labels: Build system, Sidre

#144 Modify semantics for zero-sized allocations in `axom::reallocate()`
  RELEASE-NOTES.md
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_execution_space.cpp
  src/axom/core/tests/core_memory_management.cpp
  src/axom/sidre/core/Buffer.hpp
  src/axom/sidre/examples/lulesh2/CMakeLists.txt
  src/axom/sidre/tests/sidre_buffer_unit.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
  src/axom/spin/tests/CMakeLists.txt
  src/axom/spin/tests/spin_bvh.cpp
Labels: App Integration, Sidre

#151 Update Umpire to v2.0.0
  RELEASE-NOTES.md
  scripts/uberenv/packages/umpire/package.py
  src/axom/core/memory_management.hpp
Labels: Core, TPL

#157 TPL Updates
  RELEASE-NOTES.md
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.0_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@upstream_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@coral.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@4.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@6.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@6.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@7.3.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.0.cmake
  scripts/uberenv/packages/conduit/package.py
  scripts/uberenv/packages/raja/package.py
  scripts/uberenv/packages/umpire/package.py
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_memory_management.cpp
  src/axom/sidre/tests/sidre_buffer.cpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: TPL
