Repository LLNL/axom, pull requests merged in 2020-04, with the labels that each got.

#217 Fix missing bvh_traverse.hpp header from install prefix
  RELEASE-NOTES.md
  src/axom/spin/CMakeLists.txt
Labels: App Integration, Spin, bug

#213 Adds mfem to vcpkg uberenv build (Windows)
  config-build.py
  scripts/uberenv/project.json
  scripts/uberenv/uberenv.py
  scripts/uberenv/vcpkg_ports/axom/CONTROL
  scripts/uberenv/vcpkg_ports/axom/portfile.cmake
  scripts/uberenv/vcpkg_ports/hdf5/xCONTROL
  scripts/uberenv/vcpkg_ports/mfem/CONTROL
  scripts/uberenv/vcpkg_ports/mfem/export-extern-vars.patch
  scripts/uberenv/vcpkg_ports/mfem/portfile.cmake
  src/axom/CMakeLists.txt
  src/axom/quest/tests/CMakeLists.txt
  src/cmake/AxomMacros.cmake
  src/cmake/thirdparty/FindMFEM.cmake
Labels: Build system, TPL, maintenance

#219 Bounding Box Query for BVH
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/operators/detail/intersect_bounding_box_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_bounding_box_intersect.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/BVH_impl.hpp
  src/axom/spin/internal/linear_bvh/QueryAccessor.hpp
  src/axom/spin/internal/linear_bvh/TraversalPredicates.hpp
  src/axom/spin/tests/spin_bvh.cpp
Labels: GPU, Primal, Spin

#218 Add NVTX utility and Annotation Macros
  RELEASE-NOTES.md
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@nvcc.cmake
  scripts/uberenv/packages/axom/package.py
  src/axom/config.hpp.in
  src/axom/core/CMakeLists.txt
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/utils_nvtx_settings.cpp
  src/axom/core/utilities/AnnotationMacros.hpp
  src/axom/core/utilities/nvtx/Macros.hpp
  src/axom/core/utilities/nvtx/Range.cpp
  src/axom/core/utilities/nvtx/Range.hpp
  src/axom/core/utilities/nvtx/interface.cpp
  src/axom/core/utilities/nvtx/interface.hpp
  src/axom/spin/internal/linear_bvh/BVHData.hpp
  src/axom/spin/internal/linear_bvh/BVH_impl.hpp
  src/axom/spin/internal/linear_bvh/RadixTree.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/emit_bvh.hpp
  src/cmake/AxomConfig.cmake
  src/cmake/AxomOptions.cmake
Labels: Core, GPU, Spin

#226 Feature/taylor/shroud update
  RELEASE-NOTES.md
  src/axom/quest/interface/c_fortran/typesQUEST.h
  src/axom/quest/interface/c_fortran/wrapQUEST.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.h
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/python/pyQUESTmodule.cpp
  src/axom/quest/interface/python/pyQUESTmodule.hpp
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/sidre/interface/c_fortran/typesSidre.h
  src/axom/sidre/interface/c_fortran/wrapBuffer.cpp
  src/axom/sidre/interface/c_fortran/wrapBuffer.h
  src/axom/sidre/interface/c_fortran/wrapDataStore.cpp
  src/axom/sidre/interface/c_fortran/wrapDataStore.h
  src/axom/sidre/interface/c_fortran/wrapGroup.cpp
  src/axom/sidre/interface/c_fortran/wrapGroup.h
  src/axom/sidre/interface/c_fortran/wrapSidre.cpp
  src/axom/sidre/interface/c_fortran/wrapSidre.h
  src/axom/sidre/interface/c_fortran/wrapView.cpp
  src/axom/sidre/interface/c_fortran/wrapView.h
  src/axom/sidre/interface/c_fortran/wrapfsidre.F
  src/axom/sidre/interface/sidre_shroud.yaml
  src/axom/sidre/interface/yaml/sidre_types.yaml
  src/axom/sidre/spio/interface/c_fortran/typesSPIO.h
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.cpp
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.h
  src/axom/sidre/spio/interface/c_fortran/wrapSPIO.cpp
  src/axom/sidre/spio/interface/c_fortran/wrapfspio.f
  src/axom/sidre/spio/interface/spio_shroud.yaml
  src/axom/sidre/spio/interface/yaml/spio_types.yaml
  src/axom/sidre/tests/sidre_buffer_C.cpp
  src/axom/sidre/tests/sidre_external_C.cpp
  src/axom/sidre/tests/sidre_group_C.cpp
  src/axom/sidre/tests/sidre_opaque_C.cpp
  src/axom/sidre/tests/sidre_smoke_C.cpp
  src/axom/sidre/tests/sidre_view_C.cpp
  src/axom/slic/interface/c_fortran/typesSLIC.h
  src/axom/slic/interface/c_fortran/wrapSLIC.cpp
  src/axom/slic/interface/c_fortran/wrapSLIC.h
  src/axom/slic/interface/c_fortran/wrapfslic.f
  src/axom/slic/interface/slic_shroud.yaml
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: Shroud, maintenance

#231 Fix dispatch when using asynchronous CUDA execution policies with the BVH
  RELEASE-NOTES.md
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
Labels: GPU, Spin, bug
