Repository LLNL/axom, pull requests merged in 2020-05, with the labels that each got.

#222 BVH Improvements: Memory Management
  RELEASE-NOTES.md
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@nvcc.cmake
  scripts/uberenv/packages/axom/package.py
  src/axom/config.hpp.in
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/BVHData.hpp
  src/axom/spin/internal/linear_bvh/BVH_impl.hpp
  src/axom/spin/internal/linear_bvh/QueryAccessor.hpp
  src/axom/spin/internal/linear_bvh/RadixTree.hpp
  src/axom/spin/internal/linear_bvh/TraversalPredicates.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/bvh_traverse.hpp
  src/axom/spin/internal/linear_bvh/bvh_vtkio.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/cmake/AxomConfig.cmake
  src/cmake/AxomOptions.cmake
Labels: App Integration, GPU, Spin

#245 Fix issue with making consecutive calls to Quest's Signed Distance query when MPI-3 shared memory is employed
  RELEASE-NOTES.md
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
Labels: Quest, User Request, bug, mpi

#246 Quiet CMP0074 and update SetupHDF5 to Conduit's behavoir
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
  src/cmake/thirdparty/SetupHDF5.cmake
Labels: Build system, TPL

#247 Adds sidre test to verify proper importing of exported conduit data
  src/axom/core/Macros.hpp
  src/axom/sidre/tests/sidre_native_layout.cpp
Labels: App Integration, Sidre

#248 Combine Lumberjack tests into serial and mpi test executables
  scripts/llnl_scripts/llnl_lc_build_tools.py
  src/axom/lumberjack/tests/CMakeLists.txt
  src/axom/lumberjack/tests/lumberjack_BinaryCommunicator.hpp
  src/axom/lumberjack/tests/lumberjack_Lumberjack.hpp
  src/axom/lumberjack/tests/lumberjack_Message.hpp
  src/axom/lumberjack/tests/lumberjack_RootCommunicator.hpp
  src/axom/lumberjack/tests/lumberjack_TextEqualityCombiner.hpp
  src/axom/lumberjack/tests/lumberjack_mpi_main.cpp
  src/axom/lumberjack/tests/lumberjack_serial_main.cpp
Labels: Build system, Software process, Testing

#250 Fix build issue with Clang9 and CUDA-10.2 on rzansel
  src/axom/quest/tests/quest_signed_distance_interface.cpp
  src/axom/spin/OctreeLevel.hpp
Labels: Slam, User Request, bug
