Repository LLNL/axom, pull requests merged in 2020-09, with the labels that each got.

#334 Clarify when script fails
  scripts/llnl_scripts/llnl_lc_build_tools.py
Labels: Build system, CI

#291 Towards replacing uncrustify with clang-format in Axom
  .mailmap
  RELEASE-NOTES.md
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@upstream_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@coral.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@nvcc.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@no_fortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@upstream_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-gcc@7.3.1.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@coral.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@nvcc.cmake
  src/.clang-format
  src/CMakeLists.txt
  src/axom/CMakeLists.txt
  src/axom/core/Macros.hpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/mint/execution/internal/structured_exec.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/tests/quest_all_nearest_neighbors.cpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/slam/ModularInt.hpp
  src/axom/slam/benchmarks/slam_array.cpp
  src/axom/slam/benchmarks/slam_sets.cpp
  src/axom/slam/internal/BitTwiddle.hpp
  src/cmake/AxomMacros.cmake
  src/docs/sphinx/coding_guide/sec09_format.rst
  src/docs/sphinx/dev_guide/component_org.rst
  src/docs/sphinx/dev_guide/github.rst
  src/docs/sphinx/quickstart_guide/config_build.rst
  src/index.rst
  src/tools/mesh_tester.cpp
  src/uncrustify.cfg
Labels: maintenance

#340 Fix build error when AXOM_VERSION_EXTRA is not defined
  src/axom/core/utilities/About.cpp
Labels: bug

#330 Inlet arrays for basic types
  README.md
  RELEASE-NOTES.md
  src/axom/config.hpp.in
  src/axom/core/examples/CMakeLists.txt
  src/axom/core/examples/core_containers.cpp
  src/axom/core/examples/core_utilities.cpp
  src/axom/core/utilities/About.cpp
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/Reader.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/examples/CMakeLists.txt
  src/axom/inlet/examples/arrays.cpp
  src/axom/inlet/examples/verification.cpp
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/inlet/tests/inlet_Inlet.cpp
  src/cmake/AxomConfig.cmake
  src/cmake/axom-config.cmake.in
  src/thirdparty/CMakeLists.txt
  src/thirdparty/sol/sol.hpp
  src/thirdparty/sol/sol.patch
  src/thirdparty/tests/CMakeLists.txt
  src/thirdparty/tests/sol_smoke.cpp
Labels: Inlet, TPL

#341 Guard hdf5
  src/axom/sidre/examples/lulesh2/CMakeLists.txt
Labels: Build system, Slam, TPL, User Request, bug

#343 Bugfix for primal::intersect(Segment, BoundingBox)
  RELEASE-NOTES.md
  src/axom/core/examples/core_containers.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_intersect.cpp
Labels: Primal, User Request, bug

#325 Updates for Raja & Umpire
  RELEASE-NOTES.md
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@upstream_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@coral.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@nvcc.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@no_fortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@upstream_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-gcc@7.3.1.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@coral.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@nvcc.cmake
  scripts/uberenv/packages/axom/package.py
  scripts/uberenv/packages/raja/package.py
  scripts/uberenv/packages/umpire/package.py
  src/axom/config.hpp.in
  src/axom/core/examples/core_containers.cpp
  src/axom/core/examples/core_numerics.cpp
  src/axom/core/examples/core_utilities.cpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_memory_management.cpp
  src/axom/mint/execution/internal/structured_exec.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/cmake/AxomConfig.cmake
  src/cmake/AxomOptions.cmake
Labels: Mint, Spin, TPL, maintenance

#352 Merge main back to develop
  RELEASE
  RELEASE-NOTES.md
  scripts/uberenv/packages/axom/package.py
  src/cmake/AxomVersion.cmake
Labels: Release

#350 new strategy to re-wire conduit handlers
  RELEASE-NOTES.md
  src/axom/sidre/core/DataStore.cpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/tests/sidre_attribute.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: Sidre, User Request

#318 Feature/essman/bring in sidredc
  RELEASE-NOTES.md
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/docs/sphinx/mfem_sidre_datacollection.rst
  src/axom/sidre/examples/CMakeLists.txt
  src/axom/sidre/examples/sidre_mfem_datacollection.cpp
  src/axom/sidre/tests/CMakeLists.txt
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/cmake/AxomOptions.cmake
Labels: Sidre
