Repository LLNL/axom, pull requests merged in 2020-06, with the labels that each got.

#254 Feature/nselliott/item collection
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/tests/sidre_group.cpp
Labels: Sidre

#255 BUGFIX: add ItemCollection.hpp to header list
  src/axom/sidre/CMakeLists.txt
Labels: Sidre, bug

#265 Bugfix/improvement for triangle-triangle intersect
  src/axom/primal/operators/detail/intersect_impl.cpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/quest/MeshTester.cpp
  src/axom/quest/MeshTester.hpp
  src/tools/mesh_tester.cpp
Labels: Primal, User Request, bug

#267 clang9 workaround
  RELEASE-NOTES.md
  src/axom/mint/examples/mint_unstructured_single_topology_mesh.cpp
  src/axom/mint/mesh/CellTypes.hpp
  src/axom/mint/tests/CMakeLists.txt
  src/axom/mint/tests/mint_mesh_connectivity_array.cpp
Labels: Mint, bug

#272 Fixes some compiler warnings on LLNL clusters
  src/axom/core/tests/core_stack_array.cpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/examples/HandleMesh.cpp
  src/axom/spin/internal/linear_bvh/vec.hpp
  src/docs/sphinx/dev_guide/github.rst
  src/examples/using-with-blt/example.cpp
  src/examples/using-with-cmake/example.cpp
  src/examples/using-with-make/example.cpp
  src/tools/mesh_tester.cpp
Labels: Build system, bug
