Repository LLNL/axom, pull requests merged in 2021-09, with the labels that each got.

#650 Guards `data_collection_util` against primal being off
  src/tools/CMakeLists.txt
Labels: bug, Primal, Build system

#647 SignedDistance port to GPU
  RELEASE-NOTES.md
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/closest_point.hpp
  src/axom/primal/operators/squared_distance.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/SignedDistance.cpp
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.h
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/python/pyQUESTmodule.cpp
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/interface/signed_distance.hpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/policy/LinearBVH.hpp
Labels: Quest, Spin, GPU

#652 BVH optimization for SignedDistance
  src/axom/spin/internal/linear_bvh/bvh_traverse.hpp
  src/axom/spin/policy/LinearBVH.hpp
Labels: Spin

#654 Cleans-up Inlet warning
  src/axom/inlet/Container.cpp
  src/axom/inlet/Function.hpp
Labels: maintenance, Inlet

#658 Signed distance cleanup
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/docs/sphinx/point_mesh_query.rst
  src/axom/quest/docs/sphinx/point_mesh_query_cpp.rst
  src/axom/quest/examples/quest_signed_distance_interface.F
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.h
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/python/pyQUESTmodule.cpp
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/interface/signed_distance.hpp
  src/axom/quest/tests/quest_regression.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
Labels: Quest
