Repository LLNL/axom, pull requests merged in 2021-11, with the labels that each got.

#689 Bugfix for GitLab CI allocations
  .gitlab-ci.yml
  .gitlab/build_ruby.yml
Labels: CI

#702 Guard AXOM_VERSION_EXTRA
  src/axom/core/tests/utils_about.hpp
Labels: bug, Core, Release, Testing, Build system

#699 Attach AXOM_DEBUG to axom's core target
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/Macros.hpp
  src/axom/core/examples/core_acceleration.cpp
  src/axom/core/examples/core_containers.cpp
  src/axom/core/examples/core_numerics.cpp
  src/axom/mint/docs/sphinx/sections/tutorial.rst
  src/axom/mint/examples/mint_curvilinear_mesh.cpp
  src/axom/mint/examples/mint_particle_mesh.cpp
  src/axom/mint/examples/mint_rectilinear_mesh.cpp
  src/axom/mint/examples/mint_unstructured_mixed_topology_mesh.cpp
  src/axom/mint/examples/mint_unstructured_single_topology_mesh.cpp
  src/axom/mint/examples/user_guide/mint_tutorial.cpp
  src/axom/mint/execution/internal/for_all_cells.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/fem/shape_functions/Lagrange.hpp
  src/axom/mint/fem/shape_functions/lagrange/lagrange_tetra_4.hpp
  src/axom/mint/fem/shape_functions/lagrange/lagrange_tri_3.hpp
  src/axom/mint/mesh/ConnectivityArray.hpp
  src/axom/mint/mesh/Mesh.hpp
  src/axom/mint/mesh/ParticleMesh.hpp
  src/axom/mint/mesh/StructuredMesh.cpp
  src/axom/mint/mesh/StructuredMesh.hpp
  src/axom/mint/mesh/UniformMesh.hpp
  src/axom/mint/mesh/internal/ConnectivityArray_indirection.hpp
  src/axom/mint/mesh/internal/MeshHelpers.hpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/NullSet.hpp
  src/axom/slam/policies/CardinalityPolicies.hpp
  src/axom/slam/tests/slam_relation_StaticConstant.cpp
  src/axom/slic/docs/sphinx/sections/architecture.rst
  src/axom/slic/examples/basic/logging.cpp
  src/axom/slic/interface/slic_macros.hpp
  src/axom/slic/streams/GenericOutputStream.cpp
  src/axom/slic/streams/LumberjackStream.cpp
  src/axom/slic/streams/SynchronizedStream.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/cmake/AxomOptions.cmake
  src/cmake/CMakeBasics.cmake
  src/cmake/axom-config.cmake.in
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: bug, enhancement, Core, maintenance

#707 Initialize array in Polyhedron before use
  src/axom/primal/geometry/Polyhedron.hpp
Labels: bug, Primal, maintenance

#695 Full GPU support for axom::Array
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/StackArray.hpp
  src/axom/core/docs/sphinx/core_containers.rst
  src/axom/core/examples/CMakeLists.txt
  src/axom/core/examples/core_containers.cpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/sidre/core/Array.hpp
Labels: Core

#712 Use a parallel mfem in Axom's spack specs
  RELEASE-NOTES.md
  azure-pipelines.yml
  host-configs/docker/docker-linux-ubuntu18.04-x86_64-clang@10.0.0.cmake
  host-configs/docker/docker-linux-ubuntu18.04-x86_64-gcc@8.4.0.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@9.0.0_upstream_xlf.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1_coral.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1_nvcc.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.1_no_fortran.cmake
  host-configs/ruby-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/ruby-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@9.0.0_upstream_xlf.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1_coral.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1_nvcc.cmake
  host-configs/rzansel-klee-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzgenie-klee-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1_no_fortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/packages.yaml
  scripts/spack/configs/docker/ubuntu18/packages.yaml
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/specs.json
  src/axom/CMakeLists.txt
  src/axom/mint/CMakeLists.txt
  src/axom/quest/CMakeLists.txt
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/shaping_driver.cpp
  src/cmake/AxomOptions.cmake
  src/docs/dependencies.dot
  src/index.rst
Labels: TPL

#716 Updates macOS image to 10.15
  azure-pipelines.yml
Labels: CI, maintenance

#717 fix some spack package build options
  scripts/spack/packages/raja/package.py
  scripts/spack/packages/umpire/package.py
Labels: TPL

#721 Merge main back to develop after v0.6.1 release
  RELEASE
  RELEASE-NOTES.md
  src/cmake/AxomVersion.cmake
Labels: Release

#722 Remove global include directories
  src/CMakeLists.txt
  src/axom/core/CMakeLists.txt
  src/axom/quest/tests/quest_regression.cpp
  src/thirdparty/CMakeLists.txt
  src/thirdparty/tests/CMakeLists.txt
  src/thirdparty/tests/c2c_smoke.cpp
  src/thirdparty/tests/cli11_smoke.cpp
Labels: Build system, maintenance

#723 Fix for Array assignment operators
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core

#725 Adds `axom::Array::view()` method and improves testing with kernels
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/Macros.hpp
  src/axom/core/Map.hpp
  src/axom/core/docs/sphinx/core_containers.rst
  src/axom/core/examples/core_containers.cpp
  src/axom/core/execution/execution_space.hpp
  src/axom/core/execution/for_all.hpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/core/tests/core_map.hpp
  src/axom/core/tests/core_serial_main.cpp
Labels: enhancement, Core, cuda

#677 ImplicitGrid port to GPU
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/CMakeLists.txt
  src/axom/core/utilities/BitUtilities.hpp
  src/axom/core/utilities/Utilities.hpp
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/PointInCell.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/detail/PointInCellMeshWrapper_mfem.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/point_in_cell_benchmark.cpp
  src/axom/slam/BitSet.cpp
  src/axom/slam/BitSet.hpp
  src/axom/slam/CMakeLists.txt
  src/axom/slam/Map.hpp
  src/axom/slam/policies/StoragePolicies.hpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/RectangularLattice.hpp
  src/axom/spin/tests/spin_implicit_grid.cpp
  src/tools/mesh_tester.cpp
Labels: Slam, Spin, GPU

#709 Initialize memory in axom::Array by default, allow for creation of ArrayView<const T>
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayIteratorBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/mint/tests/mint_mesh_curvilinear_mesh.cpp
  src/axom/mint/tests/mint_mesh_rectilinear_mesh.cpp
  src/axom/mint/tests/mint_mesh_uniform_mesh.cpp
Labels: Core

#733 Updates RELEASE-NOTES for new template parameter in ImplicitGrid
  RELEASE-NOTES.md
Labels: Documentation

#728 MFEMSidreDataCollection fixes for FESpace caching and parallel saving
  RELEASE-NOTES.md
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/docs/sphinx/mfem_sidre_datacollection.rst
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
Labels: bug, Sidre, Spio
