Repository LLNL/axom, pull requests merged in 2021-12, with the labels that each got.

#735 Flush out docs for updating TPLs: Part 1
  .mailmap
  src/docs/sphinx/coding_guide/index.rst
  src/docs/sphinx/dev_guide/component_org.rst
  src/docs/sphinx/dev_guide/continuous_integration.rst
  src/docs/sphinx/dev_guide/dev_summary.rst
  src/docs/sphinx/dev_guide/github.rst
  src/docs/sphinx/dev_guide/index.rst
  src/docs/sphinx/dev_guide/misc_tasks.rst
  src/docs/sphinx/dev_guide/release.rst
  src/docs/sphinx/dev_guide/testing.rst
  src/docs/sphinx/dev_guide/updating_tpls.rst
  src/docs/sphinx/quickstart_guide/index.rst
  src/docs/sphinx/quickstart_guide/the_code.rst
Labels: TPL, Testing, CI, Build system, Documentation, maintenance, Reviewed

#741 Use user-provided allocator ID in quest::PointInCell
  src/axom/core/Array.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
Labels: Quest

#745 Allow the full root file name to be provided in calls to SPIO IOManager output.
  RELEASE-NOTES.md
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/sidre/tests/spio/spio_serial.hpp
Labels: Sidre, Spio

#749 Add test that puts strings from a vector into a Group with list format
  src/axom/sidre/tests/sidre_group.cpp
Labels: Sidre, Testing, User Request

#751 Small noop changes to Spack package
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/axom/scr_examples_gtest.patch
  src/CMakeLists.txt
  src/axom/inlet/CMakeLists.txt
  src/axom/klee/CMakeLists.txt
  src/axom/sidre/examples/spio/CMakeLists.txt
Labels: TPL

#753 Adds implantation for Path::split()
  src/axom/core/Path.cpp
  src/axom/core/tests/core_Path.hpp
Labels: Core
