Repository LLNL/axom, pull requests merged in 2021-08, with the labels that each got.

#622 Adds a data collection utility and improves support for loading in MFEMSidreDataCollection
  RELEASE-NOTES.md
  src/axom/core/Map.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/utils_stringUtilities.hpp
  src/axom/core/tests/utils_utilities.hpp
  src/axom/core/utilities/StringUtilities.cpp
  src/axom/core/utilities/StringUtilities.hpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/spin/BVH.hpp
  src/tools/CMakeLists.txt
  src/tools/data_collection_util.cpp
Labels: Sidre, Spio, bug

#625 User and Host name utility functions
  RELEASE-NOTES.md
  src/axom/CMakeLists.txt
  src/axom/core/CMakeLists.txt
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/utils_system.hpp
  src/axom/core/utilities/System.cpp
  src/axom/core/utilities/System.hpp
Labels: Core, enhancement

#641 Workaround for C++14 feature missing from gcc@4.9.3
  RELEASE-NOTES.md
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
Labels: bug, compiler

#636 Primal zip iterators
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Ray.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_zip.cpp
  src/axom/primal/utils/ZipBoundingBox.hpp
  src/axom/primal/utils/ZipIndexable.hpp
  src/axom/primal/utils/ZipPoint.hpp
  src/axom/primal/utils/ZipRay.hpp
  src/axom/primal/utils/ZipVector.hpp
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/axom/spin/tests/spin_bvh.cpp
Labels: Primal

#627 Extend Array to multiple dimensions
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/docs/sphinx/core_containers.rst
  src/axom/core/memory_management.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/numerics_eigen_solve.hpp
  src/axom/core/tests/numerics_matvecops.hpp
Labels: Core, GPU

#646 Verify component dependencies
  src/axom/quest/CMakeLists.txt
  src/axom/spin/tests/CMakeLists.txt
Labels: Build system
