Repository LLNL/axom, pull requests merged in 2021-07, with the labels that each got.

#606 Clean up + add documentation for unexpectedNames/strict()
  src/axom/inlet/docs/sphinx/verification.rst
  src/axom/inlet/examples/verification.cpp
Labels: Documentation, Inlet

#589 Add hashmap to Axom Core
  src/axom/core/CMakeLists.txt
  src/axom/core/Map.hpp
  src/axom/core/tests/core_map.hpp
  src/axom/core/tests/core_serial_main.cpp
Labels: Core, enhancement

#607 Updates built-in cli11 library to v1.9.1
  RELEASE-NOTES.md
  src/thirdparty/CLI11/CLI11.hpp
Labels: TPL, maintenance

#601 BVH public API changes + policy-based class
  RELEASE-NOTES.md
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/quest/MeshTester.hpp
  src/axom/spin/BVH.hpp
  src/axom/spin/CMakeLists.txt
  src/axom/spin/internal/linear_bvh/BVHData.hpp
  src/axom/spin/internal/linear_bvh/BVH_impl.hpp
  src/axom/spin/internal/linear_bvh/QueryAccessor.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/bvh_traverse.hpp
  src/axom/spin/internal/linear_bvh/emit_bvh.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/axom/spin/tests/CMakeLists.txt
  src/axom/spin/tests/spin_bvh.cpp
Labels: Spin

#614 fix exported conduit dependency
  src/cmake/axom-config.cmake.in
  src/cmake/thirdparty/FindConduit.cmake
Labels: App Integration, Build system, TPL, bug

#615 Add missing host/device annotations to Primal/Spin functions
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
Labels: Primal, Spin, bug

#619 fix implicit link on xl
  scripts/spack/packages/axom/package.py
Labels: Build system, bug, compiler, cuda
