Repository LLNL/axom, pull requests merged in 2021-01, with the labels that each got.

#414 Add instructions for updating a TPL library to a new version.
  src/docs/sphinx/dev_guide/misc_tasks.rst
Labels: Documentation, Software process, TPL

#413 Add YAML reader to Inlet
  RELEASE-NOTES.md
  src/axom/core/utilities/StringUtilities.cpp
  src/axom/core/utilities/StringUtilities.hpp
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/YAMLReader.cpp
  src/axom/inlet/YAMLReader.hpp
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/inlet/tests/inlet_Reader.cpp
  src/axom/inlet/tests/inlet_test_utils.cpp
  src/axom/inlet/tests/inlet_test_utils.hpp
Labels: Inlet

#401 Add support for mixed-key dictionaries in Inlet
  RELEASE-NOTES.md
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/ConduitReader.hpp
  src/axom/inlet/Field.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/Proxy.cpp
  src/axom/inlet/Reader.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/VariantKey.cpp
  src/axom/inlet/VariantKey.hpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet

#411 Add ability to specify arbitrary function types in input files
  RELEASE-NOTES.md
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/ConduitReader.hpp
  src/axom/inlet/Function.cpp
  src/axom/inlet/Function.hpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/Reader.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/examples/CMakeLists.txt
  src/axom/inlet/examples/mfem_coef.lua
  src/axom/inlet/examples/mfem_coefficient.cpp
  src/axom/inlet/examples/user_defined_type.cpp
  src/axom/inlet/tests/inlet_function.cpp
Labels: Inlet

#423 Incorporate new mpi blueprint features
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/DataStore.cpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/examples/CMakeLists.txt
  src/axom/sidre/examples/sidre_createdatastore.cpp
  src/axom/sidre/examples/sidre_generateindex.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/tests/spio/spio_parallel.hpp
Labels: Sidre, Spio, mpi

#431 Update sparsehash headers to v. 2.0.4
  RELEASE-NOTES.md
  src/thirdparty/patches/sparsehash-2.0.3-no-tr1.patch
  src/thirdparty/sparsehash/README
  src/thirdparty/sparsehash/internal/densehashtable.h
  src/thirdparty/sparsehash/internal/libc_allocator_with_realloc.h
  src/thirdparty/sparsehash/sparsetable
Labels: TPL

#432 Remove duplicate dependencies
  src/tools/CMakeLists.txt
Labels: Build system, cuda

#437 Use different filenames for serial and parallel test runs of sidre examples
  src/axom/sidre/examples/sidre_createdatastore.cpp
  src/axom/sidre/examples/sidre_generateindex.cpp
Labels: Sidre, Spio, Testing

#434 Add support for deeply nested containers of structs in Inlet
  RELEASE-NOTES.md
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/Inlet.cpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/examples/CMakeLists.txt
  src/axom/inlet/examples/nested_structs.cpp
  src/axom/inlet/examples/user_defined_type.cpp
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet

#444 fix: display type name when primitive type differs from expected
  src/axom/inlet/Field.cpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
Labels: Inlet, bug

#424 Extend permissible Inlet function argument/return types to include void and string
  RELEASE-NOTES.md
  src/axom/inlet/Function.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/examples/fields.cpp
  src/axom/inlet/examples/lua_library.cpp
  src/axom/inlet/tests/inlet_function.cpp
Labels: Inlet

#379 Add support for mesh/field reconstruction in MFEMSidreDataCollection
  RELEASE-NOTES.md
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/docs/sphinx/index.rst
  src/axom/sidre/docs/sphinx/mfem_sidre_datacollection.rst
  src/axom/sidre/examples/CMakeLists.txt
  src/axom/sidre/examples/sidre_generateindex.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_vis.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
Labels: Sidre

#426 Expose a wrapped version of Primal's vector class for use in Lua input files
  RELEASE-NOTES.md
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/Function.hpp
  src/axom/inlet/InletVector.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/examples/example1.lua
  src/axom/inlet/examples/lua_library.cpp
  src/axom/inlet/examples/mfem_coef.lua
  src/axom/inlet/examples/mfem_coefficient.cpp
  src/axom/inlet/examples/nested_structs.cpp
  src/axom/inlet/examples/user_defined_type.cpp
  src/axom/inlet/tests/inlet_function.cpp
  src/axom/primal/geometry/Vector.hpp
Labels: Inlet, Primal
