Repository LLNL/axom, pull requests merged in 2021-02, with the labels that each got.

#448 Fix 'make check' segfault and re-enable cppcheck on azure-pipelines
  scripts/azure-pipelines/linux-check.sh
  src/axom/slam/tests/slam_map_SubMap.cpp
Labels: CI, bug

#470 Add artifacting of test output
  .gitlab-ci.yml
Labels: CI, Software process, Testing, enhancement

#446 Refactor Inlet's DocWriter interface, add support for documenting provided values
  RELEASE-NOTES.md
  src/axom/inlet/CMakeLists.txt
  src/axom/inlet/DocWriter.hpp
  src/axom/inlet/Inlet.cpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/SphinxWriter.cpp
  src/axom/inlet/SphinxWriter.hpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/Writer.hpp
  src/axom/inlet/docs/sphinx/example1_expected_documentation.rst
  src/axom/inlet/docs/sphinx/quick_start.rst
  src/axom/inlet/examples/documentation_generation.cpp
  src/axom/inlet/examples/nested_structs.cpp
Labels: Inlet

#465 Refresh Inlet advanced type documentation/examples
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/docs/sphinx/functions.rst
  src/axom/inlet/docs/sphinx/index.rst
  src/axom/inlet/examples/mfem_coefficient.cpp
  src/axom/inlet/examples/nested_structs.cpp
  src/axom/inlet/examples/user_defined_type.cpp
Labels: Documentation, Inlet

#469 Rename container -> collection to prepare for renaming Table -> Container
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/Proxy.cpp
  src/axom/inlet/Reader.hpp
  src/axom/inlet/Table.cpp
  src/axom/inlet/Table.hpp
  src/axom/inlet/VariantKey.hpp
  src/axom/inlet/VerifiableScalar.hpp
  src/axom/inlet/docs/sphinx/index.rst
  src/axom/inlet/docs/sphinx/simple_types.rst
  src/axom/inlet/examples/mfem_coefficient.cpp
  src/axom/inlet/examples/user_defined_type.cpp
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/inlet/tests/inlet_Inlet.cpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet

#445 Add support for parallel mesh reconstruction in MFEMSidreDataCollection
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
Labels: Sidre

#477 Consistent behavior for unexpected types in primitive arrays
  RELEASE-NOTES.md
  src/axom/inlet/Container.cpp
  src/axom/inlet/Container.hpp
  src/axom/inlet/examples/documentation_generation.cpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet, bug
