Repository LLNL/axom, pull requests merged in 2021-05, with the labels that each got.

#433 Add support to save off a QuadratureFunction to a MFEMSidreDataCollection
  RELEASE-NOTES.md
  azure-pipelines.yml
  src/axom/core/utilities/StringUtilities.cpp
  src/axom/core/utilities/StringUtilities.hpp
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/Container.cpp
  src/axom/inlet/Container.hpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/docs/sphinx/mfem_sidre_datacollection.rst
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_vis.cpp
  src/axom/sidre/tests/CMakeLists.txt
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/cmake/thirdparty/FindMFEM.cmake
Labels: App Integration, Sidre, enhancement

#515 Reconstruct Inlet hierarchy from Sidre
  RELEASE-NOTES.md
  src/axom/inlet/Container.cpp
  src/axom/inlet/Container.hpp
  src/axom/inlet/Field.hpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/inlet/tests/inlet_restart.cpp
Labels: Inlet

#532 SCR updates
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/scr/package.py
  scripts/spack/specs.json
  src/axom/sidre/examples/spio/CMakeLists.txt
  src/axom/sidre/examples/spio/IO_SCR_Checkpoint.cpp
  src/axom/sidre/examples/spio/IO_SCR_Output.cpp
  src/axom/sidre/examples/spio/IO_SCR_Read.cpp
  src/axom/sidre/examples/spio/IO_SCR_Write.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.cpp
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.h
  src/axom/sidre/spio/interface/c_fortran/wrapfspio.f
  src/axom/sidre/spio/interface/spio_shroud.yaml
  src/axom/sidre/tests/spio/spio_scr.hpp
  src/cmake/thirdparty/FindSCR.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: Build system, Spio, TPL

#251 Refresh SCR integration
  src/axom/sidre/examples/spio/CMakeLists.txt
  src/axom/sidre/examples/spio/IO_SCR_Ckpt.cpp
  src/axom/sidre/examples/spio/IO_SCR_Output.cpp
  src/axom/sidre/examples/spio/IO_SCR_Read.cpp
  src/axom/sidre/examples/spio/IO_SCR_Write.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.cpp
  src/axom/sidre/spio/interface/c_fortran/wrapIOManager.h
  src/axom/sidre/spio/interface/c_fortran/wrapfspio.f
  src/axom/sidre/spio/interface/spio_shroud.yaml
  src/axom/sidre/tests/spio/spio_scr.hpp
  src/cmake/thirdparty/FindSCR.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: Spio, TPL

#549 Adds manually triggered github actions workflow for testing Windows TPLs
  .github/workflows/test_windows_tpls.yml
Labels: CI, Windows, enhancement

#550 Use newer Conduit config directory
  RELEASE-NOTES.md
  src/cmake/thirdparty/FindConduit.cmake
Labels: Build system, TPL, bug

#553 Disables openmp on Intel host-configs
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1_no_fortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  scripts/spack/specs.json
Labels: Build system, OpenMP, Software process

#552 Some tweaks to Windows TPL action
  .github/workflows/test_windows_tpls.yml
Labels: CI, Windows

#554 Support legacy hdf5 cmake build system
  RELEASE-NOTES.md
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/conduit/package.py
  src/cmake/thirdparty/SetupHDF5.cmake
Labels: App Integration, Build system, TPL, User Request, bug

#563 Add template depth flag for PGI
  src/cmake/CMakeBasics.cmake
Labels: Build system, User Request, bug

#564 Spack package updates
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/conduit/package.py
Labels: Build system, TPL, bug

#567 Reuse FESpace/QSpaces with same basis in MFEMSidreDataCollection
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
Labels: Sidre, enhancement

#566 Ran clang-format on codebase
  src/axom/inlet/Container.cpp
  src/axom/sidre/examples/spio/IO_SCR_Checkpoint.cpp
Labels: CI, bug

#517 refactor: pass Writer directly to write instead of registering
  RELEASE-NOTES.md
  src/axom/inlet/Inlet.cpp
  src/axom/inlet/Inlet.hpp
  src/axom/inlet/docs/sphinx/quick_start.rst
  src/axom/inlet/examples/documentation_generation.cpp
  src/axom/inlet/examples/mfem_coefficient.cpp
  src/axom/inlet/examples/nested_structs.cpp
  src/axom/inlet/tests/inlet_jsonschema_writer.cpp
Labels: Inlet

#571 Quick pass through page to update docs
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: Documentation, bug, invalid, maintenance
