Repository LLNL/axom, pull requests merged in 2021-03, with the labels that each got.

#481 Required sub-objects of empty objects should not impede verification
  RELEASE-NOTES.md
  src/axom/inlet/Container.cpp
  src/axom/inlet/Function.cpp
  src/axom/inlet/docs/sphinx/index.rst
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet, bug

#478 Enhanced error detection/reporting through Inlet's Reader interface
  RELEASE-NOTES.md
  src/axom/inlet/ConduitReader.cpp
  src/axom/inlet/ConduitReader.hpp
  src/axom/inlet/Container.cpp
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/Reader.hpp
  src/axom/inlet/docs/sphinx/advanced_types.rst
  src/axom/inlet/docs/sphinx/index.rst
  src/axom/inlet/docs/sphinx/quick_start.rst
  src/axom/inlet/docs/sphinx/verification.rst
  src/axom/inlet/inlet_utils.cpp
  src/axom/inlet/inlet_utils.hpp
  src/axom/inlet/tests/inlet_Reader.cpp
  src/axom/inlet/tests/inlet_object.cpp
Labels: Inlet, enhancement

#491 Add back spec that got lost somehow
  scripts/llnl_scripts/llnl_lc_build_tools.py
Labels: TPL, bug

#498 Augments sidre_native_layout tests with zero-sized arrays
  src/axom/sidre/core/Buffer.cpp
  src/axom/sidre/tests/sidre_native_layout.cpp
  src/axom/sidre/tests/spio/spio_parallel.hpp
Labels: App Integration, Sidre, TPL, bug

#503 Don't rewrite generated headers if they haven't changed
  src/cmake/AxomConfig.cmake
  src/cmake/AxomMacros.cmake
Labels: Build system

#480 Refactor iteration over nested collection elements
  src/axom/inlet/Container.cpp
  src/axom/inlet/Container.hpp
Labels: Inlet

#506 change code-blocks syntax highlighting to not sphinx
  src/conf.py
Labels: Documentation, GPU, bug, enhancement, invalid

#468 Add a Path class to Core
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/Path.cpp
  src/axom/core/Path.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_Path.hpp
  src/axom/core/tests/core_serial_main.cpp
  src/axom/inlet/Container.cpp
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/SidreUtilities.cpp
  src/axom/sidre/core/SidreUtilities.hpp
Labels: Core, Inlet, Sidre
