Repository LLNL/axom, pull requests merged in 2022-04, with the labels that each got.

#806 turn back on corona job
  .gitlab/build_corona.yml
Labels: CI

#808 Miscellaneous axom::Array improvements
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: Core

#810 Merge SCR example codes into SCR_Checkpoint example
  src/axom/sidre/examples/spio/CMakeLists.txt
  src/axom/sidre/examples/spio/IO_SCR_Checkpoint.cpp
  src/axom/sidre/examples/spio/IO_SCR_Output.cpp
  src/axom/sidre/examples/spio/IO_SCR_Read.cpp
  src/axom/sidre/examples/spio/IO_SCR_Write.cpp
Labels: Testing, Spio
