Repository LLNL/axom, pull requests merged in 2022-09, with the labels that each got.

#924 Merge main back to develop after v0.7.0 release
  .mailmap
  CITATION.cff
  RELEASE
  RELEASE-NOTES.md
  src/cmake/AxomVersion.cmake
  src/docs/sphinx/dev_guide/release.rst
Labels: Release

#921 Refactor/gunney/closest point comm loop
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/quest/DistributedClosestPoint.hpp
Labels: Quest, maintenance, mpi, Performance

#900 Porting GPU sphinx docs
  src/axom/core/Macros.hpp
  src/axom/core/docs/sphinx/core_acceleration.rst
  src/axom/core/docs/sphinx/core_containers.rst
  src/axom/core/examples/core_acceleration.cpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/synchronize.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/utilities/BitUtilities.hpp
  src/docs/sphinx/dev_guide/gpu_porting.rst
  src/docs/sphinx/dev_guide/index.rst
Labels: Core, Documentation, GPU

#927 Change hasChildView and hasChildGroup to return false for list format
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/examples/sidre_generateindex.cpp
Labels: bug, Sidre, Spio

#929 Fix Group::copyToConduitNode so that it handles lists correctly
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/tests/sidre_group.cpp
Labels: bug, Sidre

#930 Feature/custom allocator distributed closest point
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest, cuda

#932 Convert slurm to flux on tioga
  .gitlab/build_tioga.yml
Labels: CI

#934 Fixes misidentification for containment within `CurvedPolygon`s with nonconvex edges
  src/axom/primal/operators/detail/in_curved_polygon_impl.hpp
  src/axom/primal/tests/primal_winding_number.cpp
Labels: bug, Primal

#936 Bugfix/gunney/inconsistent allocator distributed closest point
  src/axom/quest/DistributedClosestPoint.hpp
Labels: bug, Quest, cuda
