Repository LLNL/axom, pull requests merged in 2022-08, with the labels that each got.

#886 change to axom::Array ctor
  src/axom/core/Array.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core

#877 Adds a CDash config file
  host-configs/other/no-tpl-toss_3_x86_64_ib-clang@10.0.0.cmake
  scripts/llnl_scripts/llnl_lc_build_tools.py
  src/axom/spin/policy/LinearBVH.hpp
  src/cmake/CMakeBasics.cmake
  src/cmake/Dashboard.cmake.in
Labels: Testing, CI

#887 More submodule work
  src/cmake/AxomConfig.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: TPL, Build system, User Request

#879 Feature/gunney/distance query low comm
  src/axom/primal/operators/squared_distance.hpp
  src/axom/primal/tests/primal_squared_distance.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest, Primal, mpi, Performance

#888 Adds support to Distributed closest point query for empty ranks
  RELEASE-NOTES.md
  src/axom/primal/operators/squared_distance.hpp
  src/axom/primal/tests/primal_squared_distance.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest, User Request, high priority

#893 Add rational Bezier curve functionality to `BezierCurve`
  RELEASE-NOTES.md
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/operators/compute_moments.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_integral.cpp
  src/axom/primal/tests/primal_rational_bezier.cpp
Labels: enhancement, Primal

#898 Fix direct formulas for `winding_number` on endpoint of Bezier curves
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/operators/detail/in_curved_polygon_impl.hpp
  src/axom/primal/operators/in_curved_polygon.hpp
  src/axom/primal/operators/in_polygon.hpp
  src/axom/primal/operators/is_convex.hpp
  src/axom/primal/tests/primal_polygon.cpp
  src/axom/primal/tests/primal_rational_bezier.cpp
  src/axom/primal/tests/primal_winding_number.cpp
Labels: bug, Primal

#895 Tetrahedron - Tetrahedron Clipping
  RELEASE-NOTES.md
  src/axom/core/ArrayIteratorBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/IteratorBase.hpp
  src/axom/primal/operators/clip.hpp
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/tests/primal_clip.cpp
Labels: Primal

#902 Adds templating of `evaluate_integral` for arbitrary dimensions
  src/axom/primal/operators/detail/evaluate_integral_impl.hpp
  src/axom/primal/operators/evaluate_integral.hpp
  src/axom/primal/tests/primal_integral.cpp
Labels: enhancement, Primal

#899 Feature/gunney/analytical closest distance check
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest, User Request

#891 Use ifx to link examples
  src/axom/quest/examples/CMakeLists.txt
Labels: bug, Build system, User Request, compiler

#903 Feature/gunney/closest point communicator
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: enhancement, mpi

#906 Fixes configuration with clang C/C++ compiler and Intel Fortran compiler
  .gitignore
  host-configs/other/no-tpl-toss_3_x86_64_ib-clang@10-ifort@19.cmake
  src/axom/primal/tests/primal_rational_bezier.cpp
  src/axom/quest/examples/CMakeLists.txt
Labels: bug, App Integration, Build system, maintenance, compiler

#868 SLIC MPI Collective Abort
  RELEASE-NOTES.md
  src/axom/slam/examples/lulesh2.0.3/lulesh-util.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh.cpp
  src/axom/slic/core/LogStream.hpp
  src/axom/slic/core/Logger.cpp
  src/axom/slic/core/Logger.hpp
  src/axom/slic/core/MessageLevel.hpp
  src/axom/slic/docs/sphinx/sections/architecture.rst
  src/axom/slic/interface/slic.cpp
  src/axom/slic/interface/slic.hpp
  src/axom/slic/interface/slic_macros.hpp
  src/axom/slic/streams/GenericOutputStream.cpp
  src/axom/slic/streams/GenericOutputStream.hpp
  src/axom/slic/streams/LumberjackStream.cpp
  src/axom/slic/streams/LumberjackStream.hpp
  src/axom/slic/streams/SynchronizedStream.cpp
  src/axom/slic/streams/SynchronizedStream.hpp
  src/axom/slic/tests/CMakeLists.txt
  src/axom/slic/tests/slic_macros_parallel.cpp
Labels: Quest, Slam, Slic, mpi

#920 update SCR link
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: bug, TPL, Documentation

#919 Installed Examples for Device
  scripts/llnl_scripts/llnl_lc_build_tools.py
  src/axom/core/utilities/About.cpp.in
  src/examples/using-with-blt/host-config.cmake.in
  src/examples/using-with-cmake/CMakeLists.txt
  src/examples/using-with-cmake/host-config.cmake.in
Labels: Testing, GPU
