Repository LLNL/axom, pull requests merged in 2022-01, with the labels that each got.

#756 Bugfix point in cell query
  .mailmap
  RELEASE-NOTES.md
  src/axom/quest/PointInCell.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/detail/PointInCellMeshWrapper_mfem.hpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/slam/BitSet.hpp
  src/axom/spin/tests/spin_implicit_grid.cpp
Labels: bug, Quest, Windows

#760 Host/device-aware array operations
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/quest/PointInCell.hpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/spin/ImplicitGrid.hpp
Labels: Core, Quest

#742 Adds a Delaunay triangulation capability to Quest
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/StackArray.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_about.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_bit_utilities.hpp
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/core_stack_array.hpp
  src/axom/core/tests/utils_utilities.hpp
  src/axom/core/utilities/BitUtilities.hpp
  src/axom/core/utilities/Utilities.hpp
  src/axom/primal/examples/primal_introduction.cpp
  src/axom/primal/geometry/Plane.hpp
  src/axom/primal/geometry/Segment.hpp
  src/axom/primal/geometry/Sphere.hpp
  src/axom/primal/geometry/Tetrahedron.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/in_sphere.hpp
  src/axom/primal/operators/orientation.hpp
  src/axom/primal/tests/primal_in_sphere.cpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/primal/tests/primal_orientation.cpp
  src/axom/primal/tests/primal_plane.cpp
  src/axom/primal/tests/primal_segment.cpp
  src/axom/primal/tests/primal_sphere.cpp
  src/axom/primal/tests/primal_tetrahedron.cpp
  src/axom/primal/tests/primal_triangle.cpp
  src/axom/primal/tests/primal_vector.cpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/Delaunay.hpp
  src/axom/quest/Discretize.cpp
  src/axom/quest/detail/inout/MeshWrapper.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/delaunay_triangulation.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
  src/axom/slam/BitSet.hpp
  src/axom/slam/CMakeLists.txt
  src/axom/slam/DynamicConstantRelation.hpp
  src/axom/slam/DynamicSet.hpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/Utilities.hpp
  src/axom/slam/examples/UnstructMeshField.cpp
  src/axom/slam/mesh_struct/IA.hpp
  src/axom/slam/mesh_struct/IA_impl.hpp
  src/axom/slam/policies/SizePolicies.hpp
  src/axom/slam/tests/CMakeLists.txt
  src/axom/slam/tests/slam_IA.cpp
  src/axom/slam/tests/slam_relation_DynamicConstant.cpp
  src/axom/slam/tests/slam_set_BitSet.cpp
  src/axom/slam/tests/slam_set_DynamicSet.cpp
  src/axom/slam/tests/slam_set_RangeSet.cpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/tests/spin_implicit_grid.cpp
Labels: Quest, Slam

#774 Add gcc-11 docker
  .github/workflows/docker_build_tpls.yml
  azure-pipelines.yml
  host-configs/docker/docker-linux-ubuntu20.04-x86_64-gcc@11.1.0.cmake
  scripts/azure-pipelines/linux-build_and_test.sh
  scripts/docker/dockerfile_gcc-11
  scripts/spack/configs/docker/ubuntu20/compilers.yaml
  scripts/spack/configs/docker/ubuntu20/packages.yaml
  src/thirdparty/axom/sol.hpp
Labels: TPL, CI, User Request, compiler

#775 Bugfix for XL configuration without RAJA or Umpire
  RELEASE-NOTES.md
  src/axom/core/ArrayView.hpp
  src/axom/quest/Delaunay.hpp
Labels: bug
