Repository LLNL/axom, pull requests merged in 2022-05, with the labels that each got.

#815 Disable corona gitlab CI test until update to rocm 5.1.0
  .gitlab-ci.yml
Labels: CI, Hip

#818 Adds first cut at Distributed Closest Point query with example application
  src/axom/quest/CMakeLists.txt
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/UniformGrid.hpp
Labels: Quest, User Request

#816 Add BVH 2-pass example
  RELEASE-NOTES.md
  src/axom/spin/docs/sphinx/bvh.rst
  src/axom/spin/examples/CMakeLists.txt
  src/axom/spin/examples/spin_bvh_two_pass.cpp
  src/axom/spin/policy/LinearBVH.hpp
Labels: Spin

#819 [Multimat 1/n] Slam interface changes for Multimat
  src/axom/core/IteratorBase.hpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/detail/inout/InOutOctreeMeshDumper.hpp
  src/axom/quest/detail/inout/InOutOctreeStats.hpp
  src/axom/quest/detail/inout/MeshWrapper.hpp
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/BivariateSet.hpp
  src/axom/slam/CMakeLists.txt
  src/axom/slam/DynamicConstantRelation.hpp
  src/axom/slam/FieldRegistry.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/MapBase.hpp
  src/axom/slam/ProductSet.hpp
  src/axom/slam/Relation.hpp
  src/axom/slam/RelationSet.hpp
  src/axom/slam/StaticRelation.hpp
  src/axom/slam/SubMap.hpp
  src/axom/slam/examples/UnstructMeshField.cpp
  src/axom/slam/examples/UserDocs.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh.hpp
  src/axom/slam/examples/tinyHydro/TinyHydroTypes.hpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slam/policies/PolicyTraits.hpp
  src/axom/slam/policies/StoragePolicies.hpp
  src/axom/slam/policies/StridePolicies.hpp
  src/axom/slam/tests/CMakeLists.txt
  src/axom/slam/tests/slam_map_BivariateMap.cpp
  src/axom/slam/tests/slam_map_Map.cpp
  src/axom/slam/tests/slam_map_SubMap.cpp
  src/axom/slam/tests/slam_set_BivariateSet.cpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/axom/slam/tests/slam_set_Iterator.cpp
  src/axom/slam/tests/slam_set_PositionSet.cpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/OctreeBase.hpp
  src/axom/spin/SparseOctreeLevel.hpp
  src/axom/spin/SpatialOctree.hpp
Labels: Slam, multimat

#821 Fix typo in Conduit path string.
  src/axom/quest/DistributedClosestPoint.hpp
Labels: bug, Quest

#813 Document all the build things
  src/docs/sphinx/dev_guide/updating_tpls.rst
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: TPL, Build system, Documentation

#823 [Multimat 2/n] Fix lifetime issues in Slam
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/tests/slam_map_BivariateMap.cpp
Labels: Slam

#826 Inlet function cleanup
  src/axom/inlet/Function.hpp
Labels: Inlet

#828 Remove now unnecessary C++11 compatible `make_unique`
  src/axom/inlet/Container.cpp
  src/axom/inlet/inlet_utils.hpp
Labels: Inlet

#827 Clean up fortran variant logic
  scripts/spack/packages/axom/package.py
Labels: bug, TPL, Build system, Fortan
