Repository LLNL/axom, pull requests merged in 2022-12, with the labels that each got.

#968 Document behavior when a non-existent Attribute is looked up.
  src/axom/sidre/core/Array.hpp
  src/axom/sidre/core/AttrValues.hpp
  src/axom/sidre/core/View.hpp
Labels: Sidre, Documentation

#972 Updates EAS3 compiler to `rocm@5.2.3`
  .uberenv_config.json
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  scripts/spack/configs/toss_4_x86_64_ib_cray/compilers.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/packages.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/raja/package.py
Labels: User Request, compiler, Hip

#975 Update to mfem@4.5
  .uberenv_config.json
  RELEASE-NOTES.md
  azure-pipelines.yml
  host-configs/docker/clang@10.0.0.cmake
  host-configs/docker/gcc@11.1.0.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.1.0_nofortran.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.3.1.cmake
  host-configs/ruby-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0_nofortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.3.1.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/packages.yaml
  scripts/spack/configs/darwin/packages.yaml
  scripts/spack/configs/docker/ubuntu20/packages.yaml
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/configs/toss_4_x86_64_ib/packages.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/packages.yaml
  scripts/spack/packages/mfem/package.py
  scripts/vcpkg_ports/blt/portfile.cmake
  scripts/vcpkg_ports/blt/vcpkg.json
  scripts/vcpkg_ports/mfem/portfile.cmake
  scripts/vcpkg_ports/mfem/vcpkg.json
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
Labels: App Integration, TPL, User Request

#946 Multimat: update benchmark code
  src/axom/multimat/examples/calculate.cpp
  src/axom/multimat/examples/helper.hpp
Labels: multimat

#955 Bugfix/whitlock/933 distributed closest point example crash
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/tests/primal_boundingbox.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/bvh_traverse.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/axom/spin/tests/spin_bvh.cpp
Labels: bug, Primal, Spin

#983 Fixes build and tests when using RAJA without Umpire
  src/axom/core/CMakeLists.txt
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/spin/BVH.hpp
Labels: bug, TPL, Build system
