Repository LLNL/axom, pull requests merged in 2022-02, with the labels that each got.

#779 Various build tasks
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@8.0.1_nvcc_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-clang@9.0.0_upstream_xlf.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-gcc@7.3.1.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@16.1.1_coral.cmake
  host-configs/rzmanta-blueos_3_ppc64le_ib-xl@16.1.1_nvcc.cmake
  scripts/llnl_scripts/cron/quartz2498
  scripts/llnl_scripts/cron/rzgenie2
  scripts/spack/configs/blueos_3_ppc64le_ib/compilers.yaml
  scripts/spack/configs/blueos_3_ppc64le_ib/packages.yaml
  scripts/spack/configs/linux_ubuntu_20/compilers.yaml
  scripts/spack/configs/linux_ubuntu_20/packages.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/specs.json
  src/axom/spin/tests/CMakeLists.txt
  src/docs/sphinx/quickstart_guide/zero_to_axom.rst
Labels: TPL, Build system, Documentation, User Request, maintenance

#780 Cleanup of quest::findTriMeshIntersections implementations
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayIteratorBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/MeshTester.cpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/spin/BVH.hpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/tools/mesh_tester.cpp
Labels: Core, Quest

#786 Various build and submodule cleanup
  RELEASE-NOTES.md
  src/CMakeLists.txt
  src/axom/CMakeLists.txt
  src/axom/config.hpp.in
  src/axom/core/CMakeLists.txt
  src/axom/core/tests/core_about.hpp
  src/axom/core/tests/utils_config.cpp
  src/axom/core/utilities/About.cpp.in
  src/axom/core/utilities/About.hpp
  src/axom/mint/CMakeLists.txt
  src/cmake/AxomConfig.cmake
  src/cmake/AxomMacros.cmake
  src/cmake/AxomVersion.cmake
  src/cmake/axom-config.cmake.in
  src/examples/CMakeLists.txt
  src/examples/using-with-blt/example.cpp
  src/examples/using-with-cmake/example.cpp
  src/thirdparty/CMakeLists.txt
  src/thirdparty/tests/CMakeLists.txt
Labels: App Integration, Core, Build system, User Request

#781 Fleshing out axom::Array support
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: Core, GPU

#789 Fix for ImplicitGrid performance regression
  src/axom/core/ArrayBase.hpp
  src/axom/spin/ImplicitGrid.hpp
Labels: bug, Core, Spin

#792 Bugfix for gcc@8.1 config without RAJA or Umpire
  RELEASE-NOTES.md
  scripts/spack/configs/toss_3_x86_64_ib/compilers.yaml
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/spin/ImplicitGrid.hpp
Labels: bug, User Request, maintenance, high priority
