Repository LLNL/axom, pull requests merged in 2022-06, with the labels that each got.

#825 Set number of output files MFEMSidreDataCollection
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
Labels: Sidre

#829 Guard Sol State and Sol header
  RELEASE-NOTES.md
  src/axom/inlet/LuaReader.cpp
  src/axom/inlet/LuaReader.hpp
  src/axom/inlet/docs/sphinx/readers.rst
  src/axom/inlet/examples/lua_library.cpp
  src/axom/inlet/tests/inlet_function.cpp
  src/thirdparty/CMakeLists.txt
  src/thirdparty/axom/sol_forward.hpp
Labels: Documentation, Inlet, compiler

#833 add tree pattern when writing MFEMSidreDataCollection
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
Labels: bug, Spio

#831 Adds scattered interpolation capability to quest
  RELEASE-NOTES.md
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/tests/primal_zip.cpp
  src/axom/primal/utils/ZipBoundingBox.hpp
  src/axom/primal/utils/ZipPoint.hpp
  src/axom/primal/utils/ZipRay.hpp
  src/axom/primal/utils/ZipVector.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/Delaunay.hpp
  src/axom/quest/ScatteredInterpolation.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/delaunay_triangulation.cpp
  src/axom/quest/examples/scattered_interpolation.cpp
Labels: Quest, User Request

#838 Update config-build and uberenv for MSVC 2022
  .github/workflows/test_windows_tpls.yml
  .uberenv_config.json
  config-build.py
Labels: maintenance, Windows

#840 Release notes and wrong message
  RELEASE-NOTES.md
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: bug, good first issue, invalid, Slic, TPL, Build system

#843 Attempted fix for CI flakiness on blueos
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/quest/detail/Discretize_detail.hpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/axom/spin/tests/spin_implicit_grid.cpp
Labels: bug, CI, cuda

#842 Reduce verbosity of the distributed closest point query
  src/axom/quest/DistributedClosestPoint.hpp
Labels: bug, User Request, usability

#836 BVH/ImplicitGrid API refactor
  RELEASE-NOTES.md
  src/axom/core/ArrayIteratorBase.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/spin/BVH.hpp
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/examples/spin_introduction.cpp
  src/axom/spin/internal/linear_bvh/RadixTree.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/internal/linear_bvh/bvh_traverse.hpp
  src/axom/spin/internal/linear_bvh/bvh_vtkio.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/axom/spin/tests/spin_implicit_grid.cpp
  src/tools/mesh_tester.cpp
Labels: Spin

#847 Add some clarifying comments and a warning about an IOManager argument
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
Labels: Spio

#822 Correct error in example of BVH usage.
  src/axom/spin/BVH.hpp
Labels: Documentation, Spin

#846 Adds signed distance overload to return closest point and surface normal
  RELEASE-NOTES.md
  src/axom/mint/utils/vtk_utils.cpp
  src/axom/primal/operators/closest_point.hpp
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/tests/primal_closest_point.cpp
  src/axom/quest/Discretize.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/examples/quest_signed_distance_interface.F
  src/axom/quest/interface/c_fortran/wrapQUEST.cpp
  src/axom/quest/interface/c_fortran/wrapQUEST.h
  src/axom/quest/interface/c_fortran/wrapfquest.F
  src/axom/quest/interface/python/pyQUESTmodule.cpp
  src/axom/quest/interface/quest_shroud.yaml
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/interface/signed_distance.hpp
  src/axom/quest/readers/C2CReader.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
Labels: enhancement, Quest, Primal, User Request

#565 Adds the multimat component to Axom
  .mailmap
  scripts/copyrightPrepender.py
  src/axom/CMakeLists.txt
  src/axom/doxygen_mainpage.md
  src/axom/mint/tests/mint_mesh_connectivity_array.cpp
  src/axom/multimat/CMakeLists.txt
  src/axom/multimat/docs/sphinx/index.rst
  src/axom/multimat/doxygen_mainpage.md
  src/axom/multimat/examples/CMakeLists.txt
  src/axom/multimat/examples/calculate.cpp
  src/axom/multimat/examples/helper.hpp
  src/axom/multimat/examples/traversal.cpp
  src/axom/multimat/mmfield.hpp
  src/axom/multimat/mmsubfield.hpp
  src/axom/multimat/multimat.cpp
  src/axom/multimat/multimat.hpp
  src/axom/multimat/tests/CMakeLists.txt
  src/axom/multimat/tests/multimat_test.cpp
  src/axom/quest/tests/quest_initialize.cpp
  src/axom/spin/policy/UniformGridStorage.hpp
  src/docs/dependencies.dot
  src/docs/doxygen/Doxyfile.in
  src/index.rst
Labels: Slam, Reviewed, multimat

#844 Adds a curved polygon class to primal
  .mailmap
  RELEASE-NOTES.md
  src/axom/core/numerics/Matrix.hpp
  src/axom/core/tests/utils_utilities.hpp
  src/axom/core/utilities/Utilities.cpp
  src/axom/core/utilities/Utilities.hpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/CurvedPolygon.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/operators/compute_moments.hpp
  src/axom/primal/operators/detail/compute_moments_impl.hpp
  src/axom/primal/operators/detail/intersect_bezier_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_bezier_curve.cpp
  src/axom/primal/tests/primal_bezier_intersect.cpp
  src/axom/primal/tests/primal_clip.cpp
  src/axom/primal/tests/primal_compute_moments.cpp
  src/axom/primal/tests/primal_curved_polygon.cpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/readers/C2CReader.cpp
  src/axom/quest/tests/CMakeLists.txt
Labels: Primal

#850 Fixes build in configurations without MPI
  src/axom/quest/examples/quest_inout_interface.cpp
  src/axom/quest/interface/internal/QuestHelpers.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
Labels: bug, mpi

#855 Fix outdated references to "signed" distances in doxygen comments.
  src/axom/primal/operators/squared_distance.hpp
Labels: Primal, Documentation

#848 Adds integral evaluation on Bezier curves/bounded regions
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/operators/detail/evaluate_integral_impl.hpp
  src/axom/primal/operators/evaluate_integral.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_integral.cpp
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: Primal

#841 UnstructuredMesh cleanup/Slam-ification
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/doxygen_mainpage.md
  src/axom/mint/CMakeLists.txt
  src/axom/mint/mesh/ConnectivityArray.hpp
  src/axom/mint/mesh/UnstructuredMesh.hpp
  src/axom/mint/mesh/internal/ConnectivityArrayHelpers.hpp
  src/axom/mint/mesh/internal/ConnectivityArray_indirection.hpp
  src/axom/mint/mesh/internal/ConnectivityArray_typed_indirection.hpp
  src/axom/mint/mesh/internal/MeshHelpers.cpp
  src/axom/mint/mesh/internal/MeshHelpers.hpp
  src/axom/mint/tests/mint_mesh_connectivity_array.cpp
  src/axom/mint/tests/mint_mesh_face_relation.cpp
  src/axom/mint/utils/ExternalArray.hpp
  src/axom/sidre/core/Array.hpp
  src/axom/slam/IndirectionSet.hpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/StaticRelation.hpp
  src/axom/slam/policies/CardinalityPolicies.hpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/docs/dependencies.dot
  src/index.rst
Labels: Core, Slam, Mint
