Repository LLNL/axom, pull requests merged in 2022-07, with the labels that each got.

#861 Set value number_of_domains in blueprint index to the correct value
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
Labels: bug, Sidre, Spio, User Request

#859 Reorders input points in Scattered Interpolation query
  RELEASE-NOTES.md
  src/axom/core/utilities/Utilities.hpp
  src/axom/mint/mesh/Field.hpp
  src/axom/mint/mesh/UnstructuredMesh.hpp
  src/axom/quest/Delaunay.hpp
  src/axom/quest/ScatteredInterpolation.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/scattered_interpolation.cpp
  src/axom/slam/DynamicMap.hpp
  src/axom/slam/IndirectionSet.hpp
  src/axom/slam/examples/UserDocs.cpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slam/tests/slam_AccessingRelationDataInMap.cpp
  src/axom/slam/tests/slam_relation_DynamicConstant.cpp
  src/axom/slam/tests/slam_relation_StaticConstant.cpp
  src/axom/slam/tests/slam_relation_StaticVariable.cpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/axom/slam/tests/slam_set_Iterator.cpp
  src/axom/spin/ImplicitGrid.hpp
Labels: Quest, User Request

#856 HIP policy for additional tests and examples
  src/axom/core/examples/core_acceleration.cpp
  src/axom/core/numerics/Determinants.hpp
  src/axom/mint/examples/user_guide/mint_getting_started.cpp
  src/axom/mint/execution/internal/structured_exec.hpp
  src/axom/mint/tests/mint_execution_cell_traversals.cpp
  src/axom/mint/tests/mint_execution_face_traversals.cpp
  src/axom/mint/tests/mint_execution_node_traversals.cpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/dummy.cpp
  src/axom/primal/operators/detail/intersect_impl.cpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/examples/point_in_cell_benchmark.cpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/quest/examples/quest_signed_distance_interface.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/interface/signed_distance.cpp
  src/axom/quest/tests/quest_discretize.cpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/quest/tests/quest_signed_distance.cpp
  src/axom/sidre/tests/sidre_buffer.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/examples/spin_bvh_two_pass.cpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/policy/UniformGridStorage.hpp
  src/axom/spin/tests/spin_bvh.cpp
  src/axom/spin/tests/spin_implicit_grid.cpp
  src/axom/spin/tests/spin_uniform_grid.cpp
  src/thirdparty/tests/raja_smoke.cpp
Labels: Quest, Mint, Spin, Hip

#863 Removes intel@18 specs and host-configs
  .gitlab/build_ruby.yml
  .gitlab/build_rzgenie.yml
  host-configs/other/no-tpl-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/ruby-toss_3_x86_64_ib-intel@18.0.2.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@18.0.2.cmake
  scripts/spack/configs/toss_3_x86_64_ib/compilers.yaml
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/specs.json
  src/axom/quest/interface/python/README.md
Labels: CI, maintenance, compiler, usability

#860 Multimat ownership cleanup
  RELEASE-NOTES.md
  src/axom/multimat/mmfield.hpp
  src/axom/multimat/multimat.cpp
  src/axom/multimat/multimat.hpp
  src/axom/slam/DynamicVariableRelation.hpp
  src/axom/slam/RelationSet.hpp
Labels: Slam, multimat

#852 Updates mfem to v4.4
  .uberenv_config.json
  RELEASE-NOTES.md
  azure-pipelines.yml
  host-configs/corona-toss_4_x86_64_ib-clang@14.0.0_hip.cmake
  host-configs/docker/docker-linux-ubuntu20.04-x86_64-clang@10.0.0.cmake
  host-configs/docker/docker-linux-ubuntu20.04-x86_64-gcc@11.1.0.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@8.0.1_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@9.0.0.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.11_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.12.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.1.0_nofortran.cmake
  host-configs/ruby-toss_3_x86_64_ib-gcc@8.3.1.cmake
  host-configs/ruby-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@9.0.0.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@7.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.11_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.12.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0_nofortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.3.1.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rznevada-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  scripts/llnl_scripts/fix_permissions.py
  scripts/llnl_scripts/llnl_lc_build_tools.py
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/packages.yaml
  scripts/spack/configs/docker/ubuntu20/packages.yaml
  scripts/spack/configs/toss_3_x86_64_ib/packages.yaml
  scripts/spack/configs/toss_4_x86_64_ib/packages.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/packages.yaml
  scripts/spack/packages/mfem/package.py
  scripts/spack/specs.json
  scripts/vcpkg_ports/axom/portfile.cmake
  scripts/vcpkg_ports/axom/vcpkg.json
  scripts/vcpkg_ports/blt/portfile.cmake
  scripts/vcpkg_ports/blt/vcpkg.json
  scripts/vcpkg_ports/conduit/hdf5-1-12.patch
  scripts/vcpkg_ports/conduit/portfile.cmake
  scripts/vcpkg_ports/conduit/vcpkg.json
  scripts/vcpkg_ports/mfem/export-extern-vars.patch
  scripts/vcpkg_ports/mfem/portfile.cmake
  scripts/vcpkg_ports/mfem/vcpkg.json
  src/axom/quest/examples/scattered_interpolation.cpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_materials.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_restart.cpp
  src/axom/sidre/examples/sidre_mfem_datacollection_vis.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/docs/sphinx/dev_guide/updating_tpls.rst
  src/thirdparty/tests/CMakeLists.txt
  src/tools/data_collection_util.cpp
Labels: bug, TPL, maintenance

#873 Fix sign error in primal::Triangle::signedArea()
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/tests/primal_triangle.cpp
Labels: bug, Primal

#878 Misc cleanup
  src/cmake/AxomConfig.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
  src/thirdparty/CMakeLists.txt
Labels: Build system, User Request, compiler

#880 Bugfix for 3D MFEM Cartesian Mesh generation
  src/tools/data_collection_util.cpp
Labels: Quest

#881 Adds winding number computations for BezierCurve objects
  .gitignore
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/examples/CMakeLists.txt
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/CurvedPolygon.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/operators/detail/evaluate_integral_impl.hpp
  src/axom/primal/operators/detail/in_curved_polygon_impl.hpp
  src/axom/primal/operators/detail/intersect_ray_impl.hpp
  src/axom/primal/operators/evaluate_integral.hpp
  src/axom/primal/operators/in_curved_polygon.hpp
  src/axom/primal/operators/in_polygon.hpp
  src/axom/primal/operators/is_convex.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_curved_polygon.cpp
  src/axom/primal/tests/primal_integral.cpp
  src/axom/primal/tests/primal_polygon.cpp
  src/axom/primal/tests/primal_ray_intersect.cpp
  src/axom/primal/tests/primal_winding_number.cpp
Labels: enhancement, Primal

#875 Improves robustness of barycentric and circumsphere computations
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/constants.hpp
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/geometry/Tetrahedron.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/in_sphere.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_numeric_array.cpp
  src/axom/primal/tests/primal_tetrahedron.cpp
  src/axom/primal/tests/primal_triangle.cpp
  src/axom/primal/tests/primal_vector.cpp
  src/axom/primal/tests/primal_winding_number.cpp
  src/axom/quest/Discretize.cpp
  src/axom/quest/Discretize.hpp
  src/axom/quest/detail/Discretize_detail.hpp
  src/axom/spin/RectangularLattice.hpp
Labels: Primal
