Repository LLNL/axom, pull requests merged in 2022-03, with the labels that each got.

#799 Ensure slic is initialized with a minimal config.
  src/axom/slic/interface/slic.cpp
  src/axom/slic/interface/slic.hpp
  src/axom/slic/tests/CMakeLists.txt
  src/axom/slic/tests/slic_uninit.cpp
Labels: Slic, usability

#801 Remove corona allocate/release from gitlab
  .gitlab/build_corona.yml
Labels: CI

#797 UniformGrid port to GPU
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayIteratorBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/quest/AllNearestNeighbors.cpp
  src/axom/quest/Delaunay.hpp
  src/axom/quest/MeshTester.cpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/spin/CMakeLists.txt
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/examples/spin_introduction.cpp
  src/axom/spin/policy/UniformGridStorage.hpp
  src/tools/mesh_tester.cpp
Labels: Quest, Spin, GPU

#800 Document Collective SLIC Functions
  src/axom/slic/core/Logger.hpp
  src/axom/slic/docs/doxygen_collective_list.doc
  src/axom/slic/docs/sphinx/sections/appendix.rst
  src/axom/slic/docs/sphinx/sections/architecture.rst
  src/axom/slic/docs/sphinx/sections/citations.rst
  src/axom/slic/docs/sphinx/sections/getting_started.rst
  src/axom/slic/docs/sphinx/sections/wrapping_slic_in_macros.rst
  src/axom/slic/interface/slic.hpp
  src/axom/slic/interface/slic_macros.hpp
  src/axom/slic/streams/LumberjackStream.hpp
  src/axom/slic/streams/SynchronizedStream.hpp
  src/docs/doxygen/Doxyfile.in
Labels: Slic, Documentation

#804 Device optimization for axom::Array
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: Core, GPU

#805 Guard compiler defines in fmt
  .gitlab/build_corona.yml
  RELEASE-NOTES.md
  src/axom/config.hpp.in
  src/thirdparty/CMakeLists.txt
  src/thirdparty/axom/fmt/args.h
  src/thirdparty/axom/fmt/chrono.h
  src/thirdparty/axom/fmt/color.h
  src/thirdparty/axom/fmt/compile.h
  src/thirdparty/axom/fmt/core.h
  src/thirdparty/axom/fmt/format-inl.h
  src/thirdparty/axom/fmt/format.h
  src/thirdparty/axom/fmt/locale.h
  src/thirdparty/axom/fmt/os.h
  src/thirdparty/axom/fmt/ostream.h
  src/thirdparty/axom/fmt/printf.h
  src/thirdparty/axom/fmt/ranges.h
Labels: App Integration, TPL, Build system, User Request
