Repository LLNL/axom, pull requests merged in 2023-06, with the labels that each got.

#1102 Add BezierPatch class to primal/geometry
  .gitignore
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_bezier_patch.cpp
Labels: enhancement, Primal

#1105 Fix `ConnectivityArray` setting bad capacity in constructor.
  RELEASE-NOTES.md
  src/axom/mint/mesh/ConnectivityArray.hpp
  src/axom/sidre/core/Array.hpp
Labels: bug, Mint

#1099 Multimat: GPU porting and acceleration
  RELEASE-NOTES.md
  src/axom/multimat/CMakeLists.txt
  src/axom/multimat/multimat.cpp
  src/axom/multimat/multimat.hpp
  src/axom/multimat/tests/multimat_test.cpp
  src/axom/slam/RelationSet.hpp
  src/axom/slam/policies/CardinalityPolicies.hpp
Labels: Slam, GPU, multimat

#1110 Fix instantiation of Array::resize
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core

#1116 ArrayView: multi-dim subspans, non-row-major striding
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/core_utilities.hpp
  src/axom/core/utilities/Utilities.hpp
Labels: Core

#1115 Support replacement rules for preshaped geometry
  RELEASE-NOTES.md
  src/axom/klee/Geometry.hpp
  src/axom/klee/IO.cpp
  src/axom/klee/tests/klee_geometry.cpp
  src/axom/klee/tests/klee_io.cpp
  src/axom/multimat/multimat.cpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_bezier_patch.cpp
  src/axom/primal/tests/primal_solid_angle.cpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/quest/detail/shaping/shaping_helpers.hpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/tests/CMakeLists.txt
  src/axom/quest/tests/quest_sampling_shaper.cpp
Labels: enhancement, App Integration, Quest, Testing, Klee, high priority

#1124 Use srun flux wrapper path for toss 4 cray machines
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
Labels: Build system
