Repository LLNL/axom, pull requests merged in 2023-10, with the labels that each got.

#1199 Blueprint mesh topology vs coordset
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest

#1161 Add additional derivatives to Bezier curve/patches
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/operators/detail/winding_number_impl.hpp
  src/axom/primal/operators/is_convex.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_bezier_curve.cpp
  src/axom/primal/tests/primal_bezier_patch.cpp
  src/axom/primal/tests/primal_polygon.cpp
  src/axom/primal/tests/primal_rational_bezier.cpp
  src/axom/primal/tests/primal_solid_angle.cpp
Labels: enhancement, Primal

#1194 Right hand rule consistency
  src/axom/primal/docs/sphinx/primitive.rst
  src/axom/primal/geometry/Hexahedron.hpp
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/tests/primal_hexahedron.cpp
  src/axom/primal/tests/primal_octahedron.cpp
  src/axom/primal/tests/primal_polyhedron.cpp
Labels: Primal
