Repository LLNL/axom, pull requests merged in 2023-12, with the labels that each got.

#1229 Fix MeshViewUtil test failure
  src/axom/quest/tests/quest_mesh_view_util.cpp
Labels: bug, Quest, CI

#507 Add jsonschema to devtools
  scripts/spack/packages/axom/package.py
  scripts/spack/packages/axomdevtools/package.py
  src/axom/config.hpp.in
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/inlet/tests/inlet_jsonschema_writer.cpp
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: TPL, Build system, Inlet

#1228 Bugfix for `axom::utilities::locale`
  src/axom/core/utilities/System.cpp
Labels: bug, App Integration, User Request

#1227 Fix axom::Array reallocation for non-trivially relocatable types
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core

#1220 Use domain_id for identification if provided in DistributedClosestPoint.
  RELEASE-NOTES.md
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/MeshViewUtil.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest

#1221 Add a FlatMap container
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/FlatMap.hpp
  src/axom/core/detail/FlatTable.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_flatmap.hpp
  src/axom/core/tests/core_serial_main.cpp
Labels: Core

#1204 Fixes from Alan Dayton (Many thanks!)
  src/axom/primal/geometry/Hexahedron.hpp
  src/axom/primal/geometry/Polyhedron.hpp
Labels: bug, Primal, cuda

#1242 Use new CI queue
  .gitlab/build_lassen.yml
  .gitlab/build_quartz.yml
  .gitlab/build_tioga.yml
Labels: CI

#1162 Docker Image for AWS Tutorial
  scripts/docker/dockerfile_gcc-9_cuda-11
  scripts/docker/supervisord.conf
  scripts/spack/configs/docker/ubuntu20_cuda/spack.yaml
Labels: Build system

#1249 Pr from fork/1232
  RELEASE-NOTES.md
  src/axom/core/numerics/Matrix.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/tests/primal_polygon.cpp
Labels: bug, Primal, User Request, fork

#1211 Faster MarchingCubes scan loop
  RELEASE-NOTES.md
  src/axom/quest/CMakeLists.txt
  src/axom/quest/MarchingCubes.cpp
  src/axom/quest/MarchingCubes.hpp
  src/axom/quest/MeshViewUtil.hpp
  src/axom/quest/detail/MarchingCubesFullParallel.hpp
  src/axom/quest/detail/MarchingCubesHybridParallel.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/tools/gen-multidom-structured-mesh.py
Labels: enhancement, Quest, GPU, Performance
