Repository LLNL/axom, pull requests merged in 2023-05, with the labels that each got.

#1080 Add SIdre methods to get valid I/O protocols and a default protocol
  src/axom/quest/examples/scattered_interpolation.cpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/tests/sidre_group.cpp
Labels: enhancement, Sidre, Testing, usability

#1088 Guard intrinsic headers against nvcc
  src/axom/core/utilities/BitUtilities.hpp
Labels: bug, App Integration, Core, Build system, User Request, cuda, compiler

#1090 Fix a bad cmake variable name and an error it was hiding.
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/quest/tests/CMakeLists.txt
Labels: bug, Quest, Build system

#1092 Update to c2c@1.8.0
  RELEASE-NOTES.md
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/quartz-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/quartz-toss_4_x86_64_ib-gcc@10.3.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@10.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-clang@9.0.0.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.1.0_nofortran.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-gcc@8.3.1.cmake
  host-configs/rzgenie-toss_3_x86_64_ib-intel@19.0.4.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  scripts/spack/configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/packages/c2c/package.py
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/thirdparty/tests/mfem_smoke.cpp
Labels: TPL, maintenance

#1084 Initial port of Multimat to the GPU
  RELEASE-NOTES.md
  src/axom/multimat/examples/CMakeLists.txt
  src/axom/multimat/examples/calculate.cpp
  src/axom/multimat/examples/calculate_gpu.cpp
  src/axom/multimat/examples/helper.hpp
  src/axom/multimat/examples/traversal.cpp
  src/axom/multimat/mmfield.hpp
  src/axom/multimat/mmsubfield.hpp
  src/axom/multimat/multimat.cpp
  src/axom/multimat/multimat.hpp
  src/axom/multimat/tests/multimat_test.cpp
  src/axom/slam/BivariateMap.hpp
Labels: GPU, multimat

#1094 Fix windows build
  src/axom/CMakeLists.txt
  src/axom/config.hpp.in
  src/axom/core/Types.cpp
  src/axom/core/Types.hpp
  src/axom/mint/mesh/CurvilinearMesh.hpp
  src/axom/mint/mesh/RectilinearMesh.hpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/spio/IOBaton.hpp
  src/axom/slam/policies/SubsettingPolicies.hpp
  src/axom/slic/interface/slic.hpp
  src/cmake/AxomConfig.cmake
Labels: bug, Build system, mpi, Windows

#1100 Fixes from Alan Dayton
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_stack_array.hpp
Labels: App Integration, Core, GPU, compiler

#1098 Use pdebug queue for quartz allocation
  .gitlab-ci.yml
  .gitlab/build_quartz.yml
  scripts/llnl_scripts/build_src.py
  scripts/llnl_scripts/llnl_lc_build_tools.py
Labels: CI

#1095 Change to fix intersection shaper unit tests with HIP
  src/axom/slic/interface/slic_macros.hpp
Labels: bug, Quest, Slic, Testing, Hip

#1103 Some bugfixes for axom's installation
  src/axom/CMakeLists.txt
  src/axom/multimat/examples/calculate_gpu.cpp
  src/axom/multimat/examples/helper.hpp
  src/axom/multimat/examples/traversal.cpp
  src/axom/multimat/multimat.cpp
  src/cmake/axom-config.cmake.in
  src/examples/using-with-cmake/CMakeLists.txt
Labels: bug, App Integration, Build system

#1069 Import existing volume fractions into sampling shaper
  RELEASE-NOTES.md
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/quest/detail/shaping/shaping_helpers.hpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/thirdparty/tests/umpire_smoke.cpp
Labels: App Integration, Quest, User Request
