Repository LLNL/axom, pull requests merged in 2023-01, with the labels that each got.

#987 Adds support for RAJA and Umpire to Windows build
  RELEASE-NOTES.md
  scripts/vcpkg_ports/axom/portfile.cmake
  scripts/vcpkg_ports/axom/vcpkg.json
  scripts/vcpkg_ports/camp/portfile.cmake
  scripts/vcpkg_ports/camp/vcpkg.json
  scripts/vcpkg_ports/raja/portfile.cmake
  scripts/vcpkg_ports/raja/vcpkg.json
  scripts/vcpkg_ports/umpire/portfile.cmake
  scripts/vcpkg_ports/umpire/vcpkg.json
  src/axom/inlet/tests/CMakeLists.txt
  src/axom/quest/IntersectionShaper.hpp
Labels: TPL, User Request, Windows

#991 Fix duplicate symbol when compiling with intel oneapi
  src/axom/quest/DistributedClosestPoint.hpp
Labels: bug, User Request

#1001 Reduce size of ArrayView returned by `subspan`
  RELEASE-NOTES.md
  src/axom/core/ArrayView.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core, Documentation

#1010 Attempted workaround for temporarily faulty CI tioga runner
  .gitlab/build_tioga.yml
Labels: bug, CI

#1009 Fixes several outstanding bugs
  src/axom/quest/examples/CMakeLists.txt
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
  src/thirdparty/axom/fmt/README
  src/thirdparty/axom/fmt/format-inl.h
  src/thirdparty/axom/fmt/format.h
  src/thirdparty/axom/fmt/printf.h
  src/thirdparty/axom/fmt/runtime_error.patch
  src/thirdparty/axom/fmt/xl_clang.patch
  src/thirdparty/axom/fmt/xl_printf.patch
  src/thirdparty/tests/CMakeLists.txt
  src/thirdparty/tests/fmt_smoke.cpp
Labels: bug, App Integration, Spin, cuda, compiler

#1002 Bugfix for RAJA's optional RAJA::roctx dependency
  src/axom/core/CMakeLists.txt
Labels: bug, Build system

#992 Add Sidre list format to sphinx documentation
  src/axom/sidre/docs/sphinx/group.rst
Labels: Sidre, Documentation

#1013 Improves robustsness of intersection operators against bounding boxes
  RELEASE-NOTES.md
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/tests/primal_clip.cpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/primal/tests/primal_intersect_impl.cpp
  src/axom/primal/tests/primal_polygon.cpp
  src/axom/primal/tests/primal_polyhedron.cpp
  src/examples/using-with-blt/example.cpp
  src/examples/using-with-cmake/example.cpp
Labels: bug, Primal, User Request
