Repository LLNL/axom, pull requests merged in 2023-04, with the labels that each got.

#1054 Initial port of Slam to GPU
  RELEASE-NOTES.md
  src/axom/core/IteratorBase.hpp
  src/axom/multimat/examples/calculate.cpp
  src/axom/multimat/mmfield.hpp
  src/axom/multimat/mmsubfield.hpp
  src/axom/multimat/multimat.cpp
  src/axom/multimat/multimat.hpp
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/BivariateSet.hpp
  src/axom/slam/DynamicSet.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/MapBase.hpp
  src/axom/slam/NullSet.hpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/ProductSet.hpp
  src/axom/slam/RangeSet.hpp
  src/axom/slam/RelationSet.hpp
  src/axom/slam/Set.hpp
  src/axom/slam/StaticRelation.hpp
  src/axom/slam/SubMap.hpp
  src/axom/slam/examples/ShockTube.cpp
  src/axom/slam/examples/lulesh2.0.3/lulesh-init.cpp
  src/axom/slam/policies/BivariateSetInterfacePolicies.hpp
  src/axom/slam/policies/CardinalityPolicies.hpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slam/policies/OffsetPolicies.hpp
  src/axom/slam/policies/PolicyTraits.hpp
  src/axom/slam/policies/SizePolicies.hpp
  src/axom/slam/policies/StridePolicies.hpp
  src/axom/slam/policies/SubsettingPolicies.hpp
  src/axom/slam/tests/slam_map_BivariateMap.cpp
  src/axom/slam/tests/slam_map_Map.cpp
  src/axom/slam/tests/slam_set_BivariateSet.cpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
Labels: Slam, GPU

#1049 Intersection volume between Hexahedron and Tetrahedron
  RELEASE-NOTES.md
  src/axom/core/StackArray.hpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/examples/CMakeLists.txt
  src/axom/primal/examples/hex_tet_volume.cpp
  src/axom/primal/geometry/Hexahedron.hpp
  src/axom/primal/geometry/Octahedron.hpp
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/geometry/Tetrahedron.hpp
  src/axom/primal/operators/clip.hpp
  src/axom/primal/operators/compute_bounding_box.hpp
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/operators/intersection_volume.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_clip.cpp
  src/axom/primal/tests/primal_hexahedron.cpp
  src/axom/primal/tests/primal_octahedron.cpp
  src/axom/primal/tests/primal_polyhedron.cpp
  src/axom/primal/tests/primal_tetrahedron.cpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/examples/delaunay_triangulation.cpp
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/BivariateSet.hpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/slic/docs/sphinx/sections/appendix.rst
  src/conf.py
Labels: Quest, Primal

#1047 Add new sidre Group output protocols for metadata
  src/axom/sidre/core/Buffer.cpp
  src/axom/sidre/core/Buffer.hpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/docs/sphinx/file_io.rst
  src/axom/sidre/tests/sidre_group.cpp
Labels: enhancement, Sidre

#1077 axom::Array documentation additions
  src/axom/core/Array.hpp
  src/axom/core/examples/core_containers.cpp
  src/axom/primal/examples/hex_tet_volume.cpp
  src/docs/sphinx/dev_guide/gpu_porting.rst
Labels: Core, Primal, Documentation

#1076 Feature/whitlock/994 improve linearization of nurbs knot spans
  RELEASE-NOTES.md
  src/axom/core/numerics/Matrix.hpp
  src/axom/core/tests/numerics_matrix.hpp
  src/axom/core/utilities/FileUtilities.cpp
  src/axom/core/utilities/FileUtilities.hpp
  src/axom/mint/tests/mint_su2_io.cpp
  src/axom/mint/tests/mint_util_write_vtk.cpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/examples/containment_driver.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/interface/inout.cpp
  src/axom/quest/interface/internal/QuestHelpers.cpp
  src/axom/quest/interface/internal/QuestHelpers.hpp
  src/axom/quest/readers/C2CReader.cpp
  src/axom/quest/readers/C2CReader.hpp
  src/axom/quest/tests/quest_c2c_reader.cpp
  src/axom/quest/tests/quest_inout_interface.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/axom/quest/tests/quest_pro_e_reader.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
  src/axom/quest/tests/quest_stl_reader.cpp
Labels: enhancement, Quest
