Repository LLNL/axom, pull requests merged in 2024-08, with the labels that each got.

#1373 Miscellaneous Array fixups
  src/axom/core/Array.hpp
  src/axom/core/MDMapping.hpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_for_all.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/tests/mint_mesh_connectivity_array.cpp
  src/axom/mint/tests/mint_mesh_unstructured_mesh.cpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/sidre/core/Array.hpp
  src/axom/sidre/tests/sidre_mcarray.cpp
Labels: Core, GPU

#1388 AWS tutorial Docker image update
  scripts/docker/dockerfile_gcc-9_cuda-11
  scripts/spack/configs/docker/ubuntu20_cuda/spack.yaml
Labels: CI, cuda

#1389 Fix shape in `View::deepCopyView`
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: bug, Sidre

#1399 Add missing SLIC includes
  src/axom/quest/DistributedClosestPoint.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/MeshViewUtil.hpp
  src/axom/quest/PointInCell.hpp
  src/axom/quest/SignedDistance.hpp
Labels: bug, Quest, User Request

#1401 Work around X11 #defining "Success" and conflicting with CLI11
  src/thirdparty/axom/CLI11.hpp
Labels: bug, TPL

#1402 Add comment and release note item regarding recent CLI11 changes.
  RELEASE-NOTES.md
  src/thirdparty/axom/CLI11.hpp
Labels: TPL

#1405 Silence warnings about shadow parameters
  src/axom/quest/MeshViewUtil.hpp
  src/axom/spin/BVH.hpp
Labels: maintenance
