Repository LLNL/axom, pull requests merged in 2024-10, with the labels that each got.

#1434 Initialize Array::m_executeOnGPU
  src/axom/core/Array.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_execution_space.hpp
Labels: bug, GPU

#1437 Adds missing preprocessor guard to quest marching cubes example
  RELEASE-NOTES.md
  src/axom/quest/examples/quest_marching_cubes_example.cpp
Labels: bug, App Integration

#1431 Add unit testing for Slic ranks and rank counts
  RELEASE-NOTES.md
  src/axom/core/utilities/FileUtilities.hpp
  src/axom/slic/interface/slic_macros.hpp
  src/axom/slic/tests/slic_macros.cpp
  src/axom/slic/tests/slic_macros_parallel.cpp
Labels: Slic, Testing

#1271 `reserveCells` crashes `mint` mesh inside Umpire
  azure-pipelines.yml
  host-configs/docker/clang@14.0.0.cmake
  host-configs/docker/gcc@13.1.0.cmake
  scripts/spack/configs/docker/ubuntu22/spack.yaml
  src/axom/mint/tests/mint_mesh.cpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/quest/tests/quest_initialize.cpp
Labels: bug, Sidre, Quest, Mint

#1462 Update CLI11 to version 2.4.2
  src/docs/sphinx/dev_guide/updating_tpls.rst
  src/thirdparty/axom/CLI11.hpp
  src/thirdparty/axom/CLI11.patch
Labels: bug, TPL, maintenance
