Repository LLNL/axom, pull requests merged in 2024-09, with the labels that each got.

#1406 Allow device policy execution for more tests and examples
  src/axom/mint/execution/internal/for_all_cells.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/execution/internal/for_all_nodes.hpp
  src/axom/mint/execution/internal/helpers.hpp
  src/axom/mint/tests/mint_execution_cell_traversals.cpp
  src/axom/mint/tests/mint_execution_face_traversals.cpp
  src/axom/mint/tests/mint_execution_node_traversals.cpp
  src/axom/primal/examples/CMakeLists.txt
  src/axom/primal/examples/hex_tet_volume.cpp
  src/axom/quest/DistributedClosestPoint.cpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/point_in_cell_benchmark.cpp
  src/axom/quest/examples/quest_bvh_two_pass.cpp
  src/tools/mesh_tester.cpp
Labels: Quest, Primal, Mint

#1407 Update 2D GWN algorithm to match paper
  src/axom/primal/operators/detail/winding_number_impl.hpp
  src/axom/primal/operators/in_polygon.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_winding_number.cpp
Labels: enhancement, Primal

#1387 Slic open before flush
  RELEASE-NOTES.md
  src/axom/slic/streams/GenericOutputStream.cpp
  src/axom/slic/streams/GenericOutputStream.hpp
  src/axom/slic/streams/LumberjackStream.cpp
  src/axom/slic/streams/LumberjackStream.hpp
  src/axom/slic/streams/SynchronizedStream.cpp
  src/axom/slic/streams/SynchronizedStream.hpp
  src/axom/slic/tests/slic_macros.cpp
  src/axom/slic/tests/slic_macros_parallel.cpp
Labels: Slic

#1416 Move I/O protocol vector into static method
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
Labels: bug, Sidre, Spio

#1419 Add caliper annotations to quest_candidates_example
  src/axom/quest/examples/quest_candidates_example.cpp
Labels: Quest

#1423 Cleanup a bunch of GPU warnings
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/IteratorBase.hpp
  src/axom/core/detail/FlatTable.hpp
  src/axom/slam/BivariateMap.hpp
  src/axom/slam/BivariateSet.hpp
  src/axom/slam/Map.hpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/SubMap.hpp
  src/axom/slam/policies/IndirectionPolicies.hpp
  src/axom/spin/tests/spin_bvh.cpp
Labels: Core, Slam, Spin, GPU

#1424 removeFile() Usage
  src/axom/mint/tests/mint_su2_io.cpp
  src/axom/mint/tests/mint_util_write_vtk.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/axom/quest/tests/quest_pro_e_reader.cpp
  src/axom/quest/tests/quest_sampling_shaper.cpp
  src/axom/quest/tests/quest_signed_distance_interface.cpp
  src/axom/quest/tests/quest_stl_reader.cpp
  src/axom/slic/tests/slic_macros.cpp
  src/axom/slic/tests/slic_macros_parallel.cpp
Labels: Core, Slic

#1412 Bugfix: Early exit in `eigen_solve` method
  RELEASE-NOTES.md
  src/axom/core/numerics/eigen_solve.hpp
  src/axom/primal/tests/primal_orientedboundingbox.cpp
Labels: bug, Core, Primal

#1426 Upgrade upload-artifact action to v4
  .github/workflows/test_windows_tpls.yml
Labels: CI, maintenance, Windows

#1427 More warnings cleanup
  src/axom/core/MDMapping.hpp
  src/axom/slam/BivariateMap.hpp
Labels: Core, Slam, GPU
