Repository LLNL/axom, pull requests merged in 2024-04, with the labels that each got.

#1308 Fix a link issue with Clang 16 + CUDA
  src/axom/core/Array.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: bug

#1311 Add closest_point operator for Segment
  RELEASE-NOTES.md
  src/axom/primal/operators/closest_point.hpp
  src/axom/primal/tests/primal_closest_point.cpp
Labels: Primal, User Request

#1312 Adds annotations API and macros to axom
  RELEASE-NOTES.md
  azure-pipelines.yml
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-cce@15.0.1_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@14.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@15.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@16.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-clang@17.0.0_hip.cmake
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/spack.yaml
  scripts/spack/configs/docker/ubuntu20/spack.yaml
  scripts/spack/configs/docker/ubuntu20_cuda/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/specs.json
  src/axom/config.hpp.in
  src/axom/core/AnnotationMacros.hpp
  src/axom/core/CMakeLists.txt
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_mpi_main.cpp
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/utils_annotations.cpp
  src/axom/core/tests/utils_nvtx_settings.hpp
  src/axom/core/utilities/AnnotationMacros.hpp
  src/axom/core/utilities/Annotations.cpp
  src/axom/core/utilities/Annotations.hpp
  src/axom/core/utilities/RAII.hpp
  src/axom/core/utilities/nvtx/Macros.hpp
  src/axom/core/utilities/nvtx/Range.cpp
  src/axom/core/utilities/nvtx/Range.hpp
  src/axom/core/utilities/nvtx/interface.cpp
  src/axom/core/utilities/nvtx/interface.hpp
  src/axom/quest/InOutOctree.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/MarchingCubes.cpp
  src/axom/quest/MeshTester.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/SignedDistance.hpp
  src/axom/quest/detail/DistributedClosestPointImpl.hpp
  src/axom/quest/detail/MarchingCubesImpl.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/containment_driver.cpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/readers/C2CReader.cpp
  src/axom/slam/tests/slam_map_BivariateMap.cpp
  src/axom/slam/tests/slam_relation_StaticConstant.cpp
  src/axom/spin/BVH.hpp
  src/axom/spin/internal/linear_bvh/RadixTree.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
  src/axom/spin/policy/LinearBVH.hpp
  src/cmake/AxomConfig.cmake
  src/cmake/AxomOptions.cmake
  src/docs/sphinx/quickstart_guide/config_build.rst
Labels: TPL, Performance

#1319 Improvements to annotations API
  src/axom/core/CMakeLists.txt
  src/axom/core/utilities/Annotations.cpp
  src/axom/core/utilities/Annotations.hpp
  src/axom/core/utilities/CommandLineUtilities.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/containment_driver.cpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/quest/examples/shaping_driver.cpp
Labels: enhancement, Core

#1321 Do not inherit from std::iterator
  src/axom/slam/Map.hpp
  src/axom/slam/SubMap.hpp
  src/axom/spin/OctreeLevel.hpp
Labels: Quest, Slam, Windows

#1329 Undo work-around for Conduit limitation.
  src/axom/quest/detail/DistributedClosestPointImpl.hpp
Labels: Quest
