Repository LLNL/axom, pull requests merged in 2024-01, with the labels that each got.

#1252 Add missing hex-tet test case
  src/axom/primal/tests/primal_clip.cpp
Labels: Primal, Testing

#1253 Addresses some odds and ends
  src/.clang-tidy
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/ArrayView.hpp
  src/axom/core/examples/core_numerics.cpp
  src/axom/core/tests/core_array.hpp
  src/axom/core/utilities/nvtx/interface.hpp
  src/axom/mint/examples/mint_heat_equation.cpp
  src/axom/mint/fem/FiniteElement.hpp
  src/axom/mint/mesh/CellTypes.hpp
  src/axom/mint/mesh/internal/MeshHelpers.cpp
  src/axom/mint/tests/mint_fem_shape_functions.cpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/NumericArray.hpp
  src/axom/primal/geometry/OrientedBoundingBox.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_octahedron.cpp
  src/axom/primal/tests/primal_point.cpp
  src/axom/primal/tests/primal_solid_angle.cpp
  src/axom/quest/AllNearestNeighbors.cpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/tests/quest_c2c_reader.cpp
  src/axom/quest/tests/quest_vertex_weld.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/examples/sidre_shocktube.cpp
  src/axom/sidre/tests/sidre_buffer.cpp
  src/axom/sidre/tests/sidre_external.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_opaque_C.cpp
  src/axom/sidre/tests/sidre_view.cpp
  src/axom/sidre/tests/spio/spio_basic.hpp
  src/axom/slam/tests/slam_map_BivariateMap.cpp
  src/axom/slam/tests/slam_map_DynamicMap.cpp
  src/axom/slam/tests/slam_map_Map.cpp
  src/axom/slam/tests/slam_map_SubMap.cpp
  src/axom/slam/tests/slam_set_BivariateSet.cpp
  src/axom/slam/tests/slam_set_IndirectionSet.cpp
  src/axom/slam/tests/slam_set_Iterator.cpp
  src/axom/slam/tests/slam_set_PositionSet.cpp
  src/axom/slam/tests/slam_set_RangeSet.cpp
  src/axom/slam/tests/slam_set_Set.cpp
  src/axom/spin/tests/spin_morton.cpp
  src/thirdparty/tests/compiler_flag_strict_aliasing.cpp
  src/thirdparty/tests/compiler_flag_unused_local_typedef.cpp
  src/thirdparty/tests/hdf5_smoke.cpp
  src/thirdparty/tests/sparsehash_smoke.cpp
Labels: maintenance

#1237 Fix outdated comments and documentation, and split up a file.
  RELEASE-NOTES.md
  src/axom/core/execution/runtime_policy.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/DistributedClosestPoint.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/detail/DistributedClosestPointImpl.hpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
Labels: Quest, Documentation

#1255 Warn on axom::Array capture
  src/axom/core/Array.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: Core

#1256 Utilize Tioga CI queue
  .gitlab/build_tioga.yml
Labels: CI

#1259 The Great Spack Package Merge of 2024
  .uberenv_config.json
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/spack.yaml
  scripts/spack/packages/axom/package.py
Labels: TPL

#1261 Bugfix when loading group with attributes
  RELEASE-NOTES.md
  src/axom/sidre/core/AttrValues.cpp
  src/axom/sidre/core/AttrValues.hpp
  src/axom/sidre/core/DataStore.cpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/tests/sidre_attribute.cpp
Labels: bug, Sidre
