Repository LLNL/axom, pull requests merged in 2024-11, with the labels that each got.

#1459 Allow reshaping of `sidre::View` with array data
  RELEASE-NOTES.md
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: Sidre

#1448 Add NURBS Curve Support to Primal
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_knot_vector.cpp
  src/axom/primal/tests/primal_nurbs_curve.cpp
  src/axom/primal/tests/primal_rational_bezier.cpp
  src/axom/primal/tests/primal_winding_number.cpp
  src/axom/quest/readers/C2CReader.cpp
Labels: enhancement, Primal

#1463 toss_4_x86_64_ib_cray devtools
  azure-pipelines.yml
  host-configs/rzadams-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/rzadams-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/rzadams-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  scripts/spack/configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/devtools.json
  scripts/spack/devtools_configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/specs.json
  src/.clang-format
Labels: Build system

#1441 Adds opencascade as an optional dependency
  RELEASE-NOTES.md
  host-configs/rzwhippet-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/rzwhippet-toss_4_x86_64_ib-gcc@10.3.1.cmake
  host-configs/rzwhippet-toss_4_x86_64_ib-intel@2022.1.0.cmake
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/packages/axom/package.py
  scripts/spack/specs.json
  scripts/vcpkg_ports/axom/portfile.cmake
  scripts/vcpkg_ports/axom/vcpkg.json
  scripts/vcpkg_ports/opencascade/portfile.cmake
  scripts/vcpkg_ports/opencascade/vcpkg.json
  scripts/vcpkg_ports/raja/portfile.cmake
  src/axom/config.hpp.in
  src/axom/core/utilities/About.cpp.in
  src/axom/core/utilities/System.cpp
  src/axom/quest/PointInCell.hpp
  src/axom/quest/detail/PointFinder.hpp
  src/axom/quest/detail/PointInCellMeshWrapper_mfem.hpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/slam/BitSet.hpp
  src/axom/slam/tests/slam_set_BitSet.cpp
  src/axom/spin/ImplicitGrid.hpp
  src/cmake/AxomConfig.cmake
  src/cmake/axom-config.cmake.in
  src/cmake/thirdparty/FindOpenCASCADE.cmake
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
  src/docs/sphinx/quickstart_guide/config_build.rst
  src/thirdparty/tests/CMakeLists.txt
  src/thirdparty/tests/opencascade_smoke.cpp
Labels: TPL, Build system

#1474 Test and documentation for save/load of external Sidre views.
  src/axom/sidre/docs/sphinx/file_io.rst
  src/axom/sidre/tests/sidre_external.cpp
Labels: Sidre, Testing, Documentation
