Repository LLNL/axom, pull requests merged in 2024-07, with the labels that each got.

#1371 Replace `std::random_shuffle` with `std::shuffle`
  src/axom/sidre/examples/sidre_stressgroups.cpp
Labels: maintenance, usability

#1369 Polyhedron centroid
  RELEASE-NOTES.md
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/tests/primal_polyhedron.cpp
Labels: Primal

#1377 Fix bug crashing MarchingCubes.
  src/axom/quest/MarchingCubes.cpp
  src/axom/quest/MarchingCubes.hpp
Labels: bug, Quest

#1353 2D Polygon Intersection
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/StaticArray.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_serial_main.cpp
  src/axom/core/tests/core_static_array.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/operators/clip.hpp
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_clip.cpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/primal/tests/primal_polygon.cpp
Labels: Primal, GPU

#1380 Update to new radiuss docker containers
  .github/workflows/docker_build_tpls.yml
  azure-pipelines.yml
  host-configs/docker/clang@10.0.0.cmake
  host-configs/docker/clang@14.0.0.cmake
  host-configs/docker/gcc@11.1.0.cmake
  host-configs/docker/gcc@13.1.0.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/lassen-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/quartz-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/quartz-toss_4_x86_64_ib-gcc@10.3.1.cmake
  host-configs/quartz-toss_4_x86_64_ib-intel@2022.1.0.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-clang@10.0.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-gcc@8.3.1.2_cuda.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.1.cmake
  host-configs/rzansel-blueos_3_ppc64le_ib_p9-xl@16.1.1.2_cuda.cmake
  host-configs/rzwhippet-toss_4_x86_64_ib-clang@14.0.6.cmake
  host-configs/rzwhippet-toss_4_x86_64_ib-gcc@10.3.1.cmake
  host-configs/rzwhippet-toss_4_x86_64_ib-intel@2022.1.0.cmake
  scripts/docker/README.md
  scripts/docker/dockerfile_clang-10
  scripts/docker/dockerfile_clang-14
  scripts/docker/dockerfile_gcc-11
  scripts/docker/dockerfile_gcc-13
  scripts/spack/configs/blueos_3_ppc64le_ib_p9/spack.yaml
  scripts/spack/configs/docker/ubuntu22/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib/spack.yaml
  scripts/spack/configs/toss_4_x86_64_ib_cray/spack.yaml
  scripts/spack/devtools_configs/blueos_3_ppc64le_ib_p9/spack.yaml
  scripts/spack/devtools_configs/toss_4_x86_64_ib/spack.yaml
  src/CMakeLists.txt
  src/axom/core/examples/core_array_perf.cpp
  src/axom/inlet/InletVector.hpp
  src/axom/inlet/VariantKey.cpp
  src/axom/inlet/VariantKey.hpp
  src/axom/mint/tests/StructuredMesh_helpers.hpp
  src/axom/quest/detail/MarchingCubesImpl.hpp
  src/axom/quest/examples/quest_candidates_example.cpp
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/spin/SparseOctreeLevel.hpp
Labels: CI, Build system, compiler

#1379 More versatile MarchingCubes masking
  RELEASE-NOTES.md
  src/axom/quest/MarchingCubes.cpp
  src/axom/quest/MarchingCubes.hpp
  src/axom/quest/detail/MarchingCubesImpl.hpp
  src/axom/quest/detail/MarchingCubesSingleDomain.hpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
Labels: Quest, User Request

#1385 Add ability to style a PR by commenting '/style'
  .github/actions/apply-style/Dockerfile
  .github/actions/apply-style/entrypoint.sh
  .github/workflows/apply-style.yml
Labels: enhancement, CI, Software process, maintenance, usability

#1386 Fix `/style` functionality
  .github/actions/apply-style/entrypoint.sh
  .mailmap
  src/CMakeLists.txt
  src/axom/config.hpp.in
  src/axom/core/CMakeLists.txt
  src/axom/inlet/CMakeLists.txt
  src/axom/klee/CMakeLists.txt
  src/axom/lumberjack/CMakeLists.txt
  src/axom/mint/CMakeLists.txt
  src/axom/mint/core/config.hpp.in
  src/axom/multimat/CMakeLists.txt
  src/axom/primal/CMakeLists.txt
  src/axom/quest/CMakeLists.txt
  src/axom/sidre/CMakeLists.txt
  src/axom/slam/CMakeLists.txt
  src/axom/slic/CMakeLists.txt
  src/axom/spin/CMakeLists.txt
  src/cmake/AxomMacros.cmake
  src/docs/sphinx/dev_guide/component_org.rst
  src/examples/using-with-blt/example.cpp
  src/examples/using-with-cmake/example.cpp
  src/examples/using-with-make/example.cpp
  src/thirdparty/tests/CMakeLists.txt
  src/tools/CMakeLists.txt
Labels: bug, CI, Build system

#1390 Split RANK_COUNT out of RANK in SLIC message formatting
  RELEASE-NOTES.md
  src/axom/slic/core/LogStream.cpp
  src/axom/slic/core/LogStream.hpp
  src/axom/slic/docs/sphinx/sections/architecture.rst
  src/axom/slic/examples/basic/lumberjack_logging.cpp
  src/axom/slic/streams/GenericOutputStream.cpp
  src/axom/slic/streams/LumberjackStream.cpp
  src/axom/slic/streams/SynchronizedStream.cpp
Labels: enhancement, Slic, User Request
