Repository LLNL/axom, pull requests merged in 2024-06, with the labels that each got.

#1334 Polygon on device
  RELEASE-NOTES.md
  src/axom/primal/geometry/Polygon.hpp
  src/axom/primal/tests/primal_polygon.cpp
Labels: Primal, GPU

#1300 Arbitrary stride ordering for Array
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/CMakeLists.txt
  src/axom/core/MDMapping.hpp
  src/axom/core/examples/CMakeLists.txt
  src/axom/core/examples/core_array_perf.cpp
  src/axom/core/execution/nested_for_exec.hpp
  src/axom/core/execution/runtime_policy.hpp
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_array.hpp
  src/axom/core/tests/core_array_mapping.hpp
  src/axom/core/tests/core_serial_main.cpp
  src/axom/mint/CMakeLists.txt
  src/axom/mint/execution/internal/for_all_cells.hpp
  src/axom/mint/execution/internal/for_all_faces.hpp
  src/axom/mint/execution/internal/for_all_nodes.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/MarchingCubes.hpp
  src/axom/quest/detail/MarchingCubesImpl.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/quest/tests/CMakeLists.txt
  src/axom/quest/tests/quest_mesh_view_util.cpp
  src/docs/sphinx/dev_guide/gpu_porting.rst
  src/tools/mesh_tester.cpp
Labels: Core, cuda, Hip, Performance

#1347 Separate templated and non-template code in DistributedClosestPointImpl
  src/axom/quest/DistributedClosestPoint.cpp
  src/axom/quest/DistributedClosestPoint.hpp
  src/axom/quest/detail/DistributedClosestPointImpl.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_distributed_distance_query_example.cpp
Labels: Quest

#1354 Update MacOS Azure agent
  azure-pipelines.yml
Labels: CI

#1285 Array: improve support for unified memory
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/ArrayBase.hpp
  src/axom/core/tests/core_array_for_all.hpp
Labels: Core, GPU
