Repository LLNL/axom, pull requests merged in 2024-12, with the labels that each got.

#1470 Adds untrimmed NURBS patches to primal
  RELEASE-NOTES.md
  src/axom/core/numerics/matvecops.hpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_bezier_patch.cpp
  src/axom/primal/tests/primal_knot_vector.cpp
  src/axom/primal/tests/primal_nurbs_curve.cpp
  src/axom/primal/tests/primal_nurbs_patch.cpp
Labels: enhancement, Primal

#1483 Fix HIP build when not using IntersectionShaper
  src/axom/quest/examples/quest_candidates_example.cpp
Labels: bug, Quest

#1482 Fix a memory leak in axom::Array copy constructor
  RELEASE-NOTES.md
  src/axom/core/Array.hpp
  src/axom/core/tests/core_array.hpp
Labels: bug, Core
