Repository LLNL/axom, pull requests merged in 2025-09, with the labels that each got.

#1601 Add Message creation time and sort by creation time
  src/axom/lumberjack/BinaryTreeCommunicator.cpp
  src/axom/lumberjack/BinaryTreeCommunicator.hpp
  src/axom/lumberjack/Combiner.hpp
  src/axom/lumberjack/Communicator.hpp
  src/axom/lumberjack/LineFileTagCombiner.hpp
  src/axom/lumberjack/Lumberjack.cpp
  src/axom/lumberjack/Lumberjack.hpp
  src/axom/lumberjack/Message.cpp
  src/axom/lumberjack/Message.hpp
  src/axom/lumberjack/NonCollectiveRootCommunicator.cpp
  src/axom/lumberjack/NonCollectiveRootCommunicator.hpp
  src/axom/lumberjack/RootCommunicator.cpp
  src/axom/lumberjack/RootCommunicator.hpp
  src/axom/lumberjack/TextEqualityCombiner.hpp
  src/axom/lumberjack/TextTagCombiner.hpp
  src/axom/lumberjack/docs/sphinx/combiner_class.rst
  src/axom/lumberjack/docs/sphinx/communicator_class.rst
  src/axom/lumberjack/docs/sphinx/core_concepts.rst
  src/axom/lumberjack/docs/sphinx/lumberjack_class.rst
  src/axom/lumberjack/docs/sphinx/lumberjack_classes.rst
  src/axom/lumberjack/docs/sphinx/message_class.rst
  src/axom/lumberjack/tests/lumberjack_Lumberjack.hpp
  src/axom/lumberjack/tests/lumberjack_Message.hpp
  src/axom/lumberjack/tests/lumberjack_speedTest.cpp
  src/axom/lumberjack/tests/lumberjack_speedTestNoCombiners.cpp
  src/axom/slic/streams/GenericOutputStream.hpp
  src/axom/slic/streams/LumberjackStream.cpp
  src/axom/slic/streams/LumberjackStream.hpp
  src/axom/slic/streams/SynchronizedStream.hpp
Labels: Reviewed

#1510 Deep copy from Sidre to Conduit
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/examples/quest_shape_in_memory.cpp
  src/axom/quest/util/mesh_helpers.cpp
  src/axom/quest/util/mesh_helpers.hpp
  src/axom/sidre/CMakeLists.txt
  src/axom/sidre/core/ConduitMemory.cpp
  src/axom/sidre/core/ConduitMemory.hpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.cpp
  src/axom/sidre/core/View.hpp
  src/axom/sidre/docs/sphinx/view.rst
  src/axom/sidre/nanobind_sidre.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_view.cpp
Labels: Sidre, GPU, Reviewed

#1662 Extend primal geometries for clipping re-factor
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/Cone.hpp
  src/axom/primal/geometry/CoordinateTransformer.hpp
  src/axom/primal/geometry/Hexahedron.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/geometry/Ray.hpp
  src/axom/primal/geometry/Sphere.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/detail/intersect_ray_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/operators/squared_distance.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_clip_perf.cpp
  src/axom/primal/tests/primal_cone.cpp
  src/axom/primal/tests/primal_coord_transform.cpp
Labels: Primal

#1666 Feature/gunney/extend klee geometry
  src/axom/klee/Geometry.cpp
  src/axom/klee/Geometry.hpp
  src/axom/quest/DiscreteShape.cpp
Labels: Klee
