Repository LLNL/axom, pull requests merged in 2025-02, with the labels that each got.

#1498 Enable HIP assert in SLIC macros
  .gitlab/build_ruby.yml
  RELEASE-NOTES.md
  host-configs/rzadams-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/rzadams-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/rzadams-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/rzvernal-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  scripts/spack/packages/axom/package.py
  src/axom/core/Macros.hpp
  src/axom/slic/interface/slic_macros.hpp
  src/tools/CMakeLists.txt
  src/tools/mesh_tester.cpp
Labels: Slic, CI, Build system, Hip

#1500 Move `primal::NumericArray` to core
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/NumericArray.hpp
  src/axom/core/docs/sphinx/core_utilities.rst
  src/axom/core/tests/CMakeLists.txt
  src/axom/core/tests/core_numeric_array.hpp
  src/axom/multimat/multimat.cpp
  src/axom/primal/CMakeLists.txt
  src/axom/primal/docs/sphinx/primitive.rst
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/CurvedPolygon.hpp
  src/axom/primal/geometry/Hexahedron.hpp
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/geometry/OrientedBoundingBox.hpp
  src/axom/primal/geometry/Point.hpp
  src/axom/primal/geometry/Polyhedron.hpp
  src/axom/primal/geometry/Tetrahedron.hpp
  src/axom/primal/geometry/Triangle.hpp
  src/axom/primal/geometry/Vector.hpp
  src/axom/primal/operators/compute_bounding_box.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_compute_bounding_box.cpp
  src/axom/primal/tests/primal_orientedboundingbox.cpp
  src/axom/primal/tests/primal_point.cpp
  src/axom/primal/tests/primal_vector.cpp
  src/axom/quest/Delaunay.hpp
  src/axom/quest/Discretize.cpp
  src/axom/quest/MeshTester.cpp
  src/axom/quest/ScatteredInterpolation.hpp
  src/axom/quest/detail/Discretize_detail.hpp
  src/axom/quest/detail/MeshTester_detail.hpp
  src/axom/quest/examples/quest_shape_in_memory.cpp
  src/axom/quest/examples/quest_winding_number.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/tests/quest_discretize.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/axom/quest/tests/quest_point_in_cell_mfem.cpp
  src/axom/quest/tests/quest_sampling_shaper.cpp
  src/axom/quest/util/mesh_helpers.cpp
  src/axom/quest/util/mesh_helpers.hpp
  src/axom/spin/OctreeLevel.hpp
  src/axom/spin/RectangularLattice.hpp
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/tests/spin_rectangular_lattice.cpp
  src/axom/spin/tests/spin_uniform_grid.cpp
  src/tools/data_collection_util.cpp
Labels: Core

#1502 Docs for local Axom Docker container
  src/docs/sphinx/dev_guide/continuous_integration.rst
Labels: Documentation

#1477 Adds ray Bezier/NURBS surface intersection routines
  RELEASE-NOTES.md
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/primal/geometry/Line.hpp
  src/axom/primal/operators/detail/intersect_bezier_impl.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/detail/intersect_patch_impl.hpp
  src/axom/primal/operators/detail/intersect_ray_impl.hpp
  src/axom/primal/operators/in_sphere.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_bezier_intersect.cpp
  src/axom/primal/tests/primal_in_sphere.cpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/primal/tests/primal_rational_bezier.cpp
  src/axom/primal/tests/primal_ray_intersect.cpp
  src/axom/primal/tests/primal_solid_angle.cpp
  src/axom/primal/tests/primal_surface_intersect.cpp
Labels: enhancement, Primal

#1506 fix spec variable usage
  scripts/spack/packages/axom/package.py
Labels: bug, TPL, User Request

#1505 Host execution space can use more than just its default and unified m…
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
Labels: bug, Core
