Repository LLNL/axom, pull requests merged in 2025-01, with the labels that each got.

#1484 Add `AXOM_ENABLE_ASAN` CMake option
  src/cmake/AxomOptions.cmake
  src/cmake/CMakeBasics.cmake
  src/docs/sphinx/dev_guide/index.rst
  src/docs/sphinx/dev_guide/memory_checking.rst
  suppressions.asan
  suppressions.valgrind
Labels: enhancement, Testing, Documentation, Software process, User Request, compiler, nice to have, memory

#1473 Fix `MFEMSidreDataCollection::LoadExternalData` and add test cases for various `LoadExternalData` functions
  RELEASE-NOTES.md
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/tests/CMakeLists.txt
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/axom/sidre/tests/sidre_read_write_userdefined_data.cpp
  src/axom/sidre/tests/spio/spio_parallel.hpp
Labels: bug, Sidre, Spio, User Request

#1491 Silence warnings
  src/axom/multimat/multimat.cpp
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/slam/DynamicConstantRelation.hpp
Labels: bug

#1490 Adds UBSan CMake option and CI for sanitizers
  .gitlab-ci.yml
  .gitlab/build_ruby.yml
  RELEASE-NOTES.md
  src/axom/core/Macros.hpp
  src/axom/core/examples/core_acceleration.cpp
  src/axom/inlet/SphinxWriter.hpp
  src/axom/lumberjack/tests/lumberjack_BinaryCommunicator.hpp
  src/axom/lumberjack/tests/lumberjack_Message.hpp
  src/axom/lumberjack/tests/lumberjack_RootCommunicator.hpp
  src/axom/mint/mesh/StructuredMesh.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/axom/sidre/examples/lulesh2/lulesh-init.cc
  src/axom/sidre/examples/sidre_stressgroups.cpp
  src/axom/sidre/examples/spio/IO_SCR_Checkpoint.cpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/tests/sidre_buffer_unit.cpp
  src/axom/sidre/tests/sidre_datastore_unit.cpp
  src/axom/sidre/tests/sidre_external.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_group_C.cpp
  src/axom/sidre/tests/sidre_opaque_F.f
  src/axom/sidre/tests/sidre_view_F.f
  src/axom/spin/ImplicitGrid.hpp
  src/axom/spin/MortonIndex.hpp
  src/cmake/AxomOptions.cmake
  src/cmake/CMakeBasics.cmake
  src/docs/sphinx/dev_guide/analysis_tools.rst
  src/docs/sphinx/dev_guide/index.rst
  src/docs/sphinx/quickstart_guide/config_build.rst
  suppressions.asan
Labels: Build system

#1493 2D polygon robustness
  RELEASE-NOTES.md
  src/axom/primal/operators/detail/clip_impl.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/tests/primal_clip.cpp
Labels: Primal

#1494 Piecewise version of loadExternalData
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/spio/IOManager.hpp
  src/axom/sidre/tests/spio/spio_parallel.hpp
Labels: enhancement, Sidre, Spio, User Request

#1455 Support Blueprint mesh in shaping
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/execution/execution_space.hpp
  src/axom/core/execution/internal/cuda_exec.hpp
  src/axom/core/execution/internal/hip_exec.hpp
  src/axom/core/execution/internal/omp_exec.hpp
  src/axom/core/execution/internal/seq_exec.hpp
  src/axom/core/execution/runtime_policy.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/utils_fileUtilities.hpp
  src/axom/core/utilities/FileUtilities.cpp
  src/axom/core/utilities/FileUtilities.hpp
  src/axom/klee/Geometry.cpp
  src/axom/klee/Geometry.hpp
  src/axom/klee/ShapeSet.cpp
  src/axom/klee/ShapeSet.hpp
  src/axom/klee/tests/klee_shape_set.cpp
  src/axom/mint/mesh/Mesh.cpp
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/DiscreteShape.cpp
  src/axom/quest/DiscreteShape.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/quest/detail/shaping/shaping_helpers.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/quest_candidates_example.cpp
  src/axom/quest/examples/quest_marching_cubes_example.cpp
  src/axom/quest/examples/quest_shape_in_memory.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/interface/inout.cpp
  src/axom/quest/tests/quest_intersection_shaper.cpp
  src/axom/quest/util/mesh_helpers.cpp
  src/axom/quest/util/mesh_helpers.hpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.hpp
Labels: Quest, User Request, high priority
