Repository LLNL/axom, pull requests merged in 2025-07, with the labels that each got.

#1600 Improves some logging calls during shaping
  src/axom/bump/docs/sphinx/bump_utilities.rst
  src/axom/bump/docs/sphinx/index.rst
  src/axom/quest/DiscreteShape.cpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/sina/docs/sphinx/hdf5_vs_json.rst
  src/axom/slic/docs/sphinx/sections/appendix.rst
  src/axom/slic/docs/sphinx/sections/wrapping_slic_in_macros.rst
  src/conf.py
  src/docs/doxygen/Doxyfile.in
  src/docs/sphinx/dev_guide/updating_tpls.rst
  src/index.rst
Labels: bug, Quest, User Request

#1603 Fixes sina's Fortran module generation
  RELEASE-NOTES.md
  src/axom/primal/geometry/BoundingBox.hpp
  src/axom/primal/tests/primal_boundingbox.cpp
  src/axom/sidre/examples/sidre_mcarray.cpp
  src/axom/sina/CMakeLists.txt
  src/axom/sina/examples/CMakeLists.txt
  src/axom/sina/examples/sina_fortran.f
  src/axom/sina/interface/sina_fortran_interface.f.in
Labels: bug, Build system, Fortan, Sina

#1595 Fix for GPU-aware MPI bug
  .gitlab/build_tioga.yml
  src/axom/lumberjack/Message.cpp
  src/axom/lumberjack/Message.hpp
Labels: bug, Slic, Lumberjack, CI, mpi

#1608 Fixes some Sina configuration variables
  RELEASE-NOTES.md
  src/axom/sina/CMakeLists.txt
Labels: bug, App Integration, Build system, Sina

#1611 Fixes several bugs related to undefined behavior
  RELEASE-NOTES.md
  src/axom/core/Macros.hpp
  src/axom/core/MapCollection.hpp
  src/axom/core/tests/core_device_hash.hpp
  src/axom/inlet/Container.hpp
  src/axom/quest/MeshTester.cpp
  src/axom/slam/OrderedSet.hpp
  src/axom/slam/policies/StridePolicies.hpp
  src/axom/slam/tests/slam_set_RangeSet.cpp
  src/axom/spin/MortonIndex.hpp
  src/axom/spin/SparseOctreeLevel.hpp
  src/axom/spin/UniformGrid.hpp
  src/axom/spin/internal/linear_bvh/build_radix_tree.hpp
Labels: bug, App Integration, maintenance

#1624 Adds a TempFile utility class to core's file utilities
  RELEASE-NOTES.md
  src/axom/core/tests/utils_fileUtilities.hpp
  src/axom/core/utilities/FileUtilities.cpp
  src/axom/core/utilities/FileUtilities.hpp
  src/axom/mint/tests/mint_su2_io.cpp
  src/axom/quest/tests/quest_pro_e_reader.cpp
  src/axom/quest/tests/quest_sampling_shaper.cpp
  src/axom/quest/tests/quest_stl_reader.cpp
  src/axom/quest/tests/quest_stl_writer.cpp
  src/axom/sina/tests/sina_Document.cpp
Labels: bug, Core, maintenance

#1610 FlatMap: add method for batched GPU construction
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/FlatMap.hpp
  src/axom/core/FlatMapUtil.hpp
  src/axom/core/detail/FlatTable.hpp
  src/axom/core/examples/CMakeLists.txt
  src/axom/core/examples/core_flatmap_perf.cpp
  src/axom/core/tests/core_flatmap.hpp
  src/axom/core/tests/core_flatmap_for_all.hpp
Labels: Core, GPU

#1629 Consolidates constructor logic for Bezier and NURBS classes
  RELEASE-NOTES.md
  src/axom/bump/TopologyMapper.hpp
  src/axom/bump/views/BasicIndexing.hpp
  src/axom/bump/views/dispatch_unstructured_topology.hpp
  src/axom/klee/io/GeometryOperatorsIO.cpp
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/KnotVector.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_bezier_curve.cpp
  src/axom/primal/tests/primal_bezier_patch.cpp
  src/axom/primal/tests/primal_knot_vector.cpp
  src/axom/primal/tests/primal_nurbs_curve.cpp
  src/axom/primal/tests/primal_nurbs_patch.cpp
  src/axom/quest/DiscreteShape.hpp
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/MarchingCubes.hpp
  src/axom/quest/MeshViewUtil.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/detail/MarchingCubesSingleDomain.hpp
  src/axom/sidre/core/AttrValues.hpp
  src/axom/sidre/core/Attribute.hpp
  src/axom/sidre/core/Buffer.hpp
  src/axom/sidre/core/DataStore.hpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/View.hpp
  src/axom/spin/OctreeBase.hpp
  src/docs/sphinx/coding_guide/sec07_documentation.rst
Labels: Primal, maintenance
