Repository LLNL/axom, pull requests merged in 2025-03, with the labels that each got.

#1504 Fixes build and tests when not using `hdf5`
  .mailmap
  src/axom/primal/tests/primal_surface_intersect.cpp
  src/axom/quest/detail/PointInCellMeshWrapper_mfem.hpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/core/MFEMSidreDataCollection.hpp
  src/axom/sidre/examples/spio/CMakeLists.txt
  src/axom/sidre/spio/IOManager.cpp
  src/axom/sidre/tests/sidre_external.cpp
  src/axom/sidre/tests/sidre_group.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/axom/sidre/tests/sidre_read_write_userdefined_data.cpp
  src/cmake/AxomConfig.cmake
  src/cmake/axom-config.cmake.in
  src/cmake/thirdparty/SetupAxomThirdParty.cmake
Labels: App Integration, Testing, Build system, maintenance

#1503 Adds Trimming Curve Support for `primal::NURBSPatch`
  src/axom/primal/CMakeLists.txt
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/operators/detail/winding_number_2d_impl.hpp
  src/axom/primal/operators/detail/winding_number_3d_impl.hpp
  src/axom/primal/operators/in_curved_polygon.hpp
  src/axom/primal/operators/in_polygon.hpp
  src/axom/primal/operators/in_polyhedron.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/CMakeLists.txt
  src/axom/primal/tests/primal_nurbs_patch.cpp
  src/axom/primal/tests/primal_surface_intersect.cpp
  src/axom/primal/tests/primal_trimming_curves.cpp
Labels: enhancement, Primal

#1519 Fixes build and tests on Windows
  .uberenv_config.json
  host-configs/tioga-toss_4_x86_64_ib_cray-cce@18.0.0_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-rocmcc@6.1.2_hip.cmake
  host-configs/tioga-toss_4_x86_64_ib_cray-rocmcc@6.2.1_hip.cmake
  scripts/vcpkg_ports/umpire/portfile.cmake
  scripts/vcpkg_ports/umpire/v2024.07.0-chrono-include.patch
  src/axom/config.hpp.in
  src/axom/core/Macros.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_utilities.hpp
  src/axom/core/utilities/Sorting.hpp
  src/axom/mir/clipping/ClipCases.h
  src/axom/mir/tests/mir_clipfield.cpp
  src/axom/mir/tests/mir_views.cpp
  src/axom/mir/utilities/blueprint_utilities.hpp
  src/axom/mir/views/view_traits.hpp
  src/axom/quest/DiscreteShape.cpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/util/mesh_helpers.cpp
  src/axom/sidre/core/Group.cpp
  src/axom/sidre/core/Group.hpp
  src/axom/sidre/core/MFEMSidreDataCollection.cpp
  src/axom/sidre/tests/sidre_mfem_datacollection.cpp
  src/axom/sidre/tests/sidre_read_write_userdefined_data.cpp
  src/axom/sina/core/Document.cpp
  src/axom/sina/core/ID.cpp
  src/cmake/AxomConfig.cmake
  src/cmake/AxomMacros.cmake
Labels: bug, Build system, maintenance, Windows

#1525 Work-around for ROCM overflowing ints when scan-summing arrays
  src/axom/quest/MarchingCubes.hpp
  src/axom/quest/detail/MarchingCubesImpl.hpp
Labels: bug, Quest, GPU, Hip
