Repository LLNL/axom, pull requests merged in 2025-05, with the labels that each got.

#1558 Add methods for NURBS patch subdivision with Trimming Curves
  RELEASE-NOTES.md
  src/axom/primal/geometry/BezierCurve.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/NURBSCurve.hpp
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/operators/detail/intersect_bezier_impl.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/detail/intersect_ray_impl.hpp
  src/axom/primal/operators/detail/winding_number_2d_impl.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_bezier_curve.cpp
  src/axom/primal/tests/primal_bezier_intersect.cpp
  src/axom/primal/tests/primal_bezier_patch.cpp
  src/axom/primal/tests/primal_nurbs_curve.cpp
  src/axom/primal/tests/primal_nurbs_patch.cpp
  src/axom/primal/tests/primal_surface_intersect.cpp
  src/axom/primal/tests/primal_trimming_curves.cpp
  src/axom/quest/readers/C2CReader.cpp
Labels: enhancement, Primal

#1571 Initial 2D intersection shaping for c2c
  RELEASE-NOTES.md
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/examples/CMakeLists.txt
  src/axom/quest/examples/shaping_driver.cpp
Labels: Quest

#1544 FlatMap: add Umpire support
  RELEASE-NOTES.md
  src/axom/core/CMakeLists.txt
  src/axom/core/FlatMap.hpp
  src/axom/core/detail/FlatMapOps.hpp
  src/axom/core/detail/FlatTable.hpp
  src/axom/core/memory_management.hpp
  src/axom/core/tests/core_flatmap.hpp
Labels: Core, GPU

#1560 Adds sample-based shaping for tetrahedral shapes
  scripts/find_unmatched_annotations.awk
  src/axom/core/NumericArray.hpp
  src/axom/multimat/examples/basic.cpp
  src/axom/primal/geometry/Tetrahedron.hpp
  src/axom/primal/tests/primal_bezier_intersect.cpp
  src/axom/quest/CMakeLists.txt
  src/axom/quest/IntersectionShaper.hpp
  src/axom/quest/SamplingShaper.hpp
  src/axom/quest/Shaper.cpp
  src/axom/quest/Shaper.hpp
  src/axom/quest/detail/shaping/InOutSampler.hpp
  src/axom/quest/detail/shaping/PrimitiveSampler.hpp
  src/axom/quest/detail/shaping/shaping_helpers.cpp
  src/axom/quest/detail/shaping/shaping_helpers.hpp
  src/axom/quest/examples/quest_shape_in_memory.cpp
  src/axom/quest/examples/shaping_driver.cpp
  src/axom/quest/tests/quest_sampling_shaper.cpp
  src/axom/quest/util/mesh_helpers.cpp
  src/axom/sidre/core/View.cpp
Labels: Quest, User Request, Reviewed, high priority

#1566 Update 3D GWN method for trimmed NURBS surfaces
  src/axom/core/numerics/transforms.hpp
  src/axom/primal/geometry/BezierPatch.hpp
  src/axom/primal/geometry/NURBSPatch.hpp
  src/axom/primal/operators/detail/intersect_bezier_impl.hpp
  src/axom/primal/operators/detail/intersect_impl.hpp
  src/axom/primal/operators/detail/intersect_patch_impl.hpp
  src/axom/primal/operators/detail/winding_number_2d_impl.hpp
  src/axom/primal/operators/detail/winding_number_3d_impl.hpp
  src/axom/primal/operators/evaluate_integral.hpp
  src/axom/primal/operators/intersect.hpp
  src/axom/primal/operators/winding_number.hpp
  src/axom/primal/tests/primal_integral.cpp
  src/axom/primal/tests/primal_intersect.cpp
  src/axom/primal/tests/primal_polyhedron.cpp
  src/axom/primal/tests/primal_solid_angle.cpp
  src/axom/primal/tests/primal_surface_intersect.cpp
  src/axom/primal/tests/primal_trimming_curves.cpp
Labels: enhancement, Primal

#1582 GPU-related ODR fixes for Array and FlatMap
  RELEASE-NOTES.md
  src/axom/core/ArrayBase.hpp
  src/axom/core/detail/FlatMapOps.hpp
Labels: bug, Core, GPU
